#loading-bar-spinner {
  display: none;
}

#language-form {
  display: none;
}

#login-form {
  margin-top: 20px;
}

.movie {
  clear: both;
  min-height: 160px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.movie-minimal {
  padding: 0;
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin: 10px 0 0 0;
  min-height: 0;
}

.poster {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.review {
  padding-top: 10px;
}
.review button {
  margin-bottom: 15px;
}

.recommendation-review {
  vertical-align: middle;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.full {
  clear: both;
}

.title {
  display: inline;
  /* copied mostly from bootstrap h4 */
  font-size: 17.5px;
  font-weight: bold;
  line-height: 20px;
}

.rating {
  display: inline;
  margin-right: 10px;
}

label.error {
  color: #b94a48;
}

#movie-count {
  font-size: 25px;
  float: right;
  text-align: right;
  line-height: 27px;
  color: #707070;
}

#movie-count img {
  margin-top: 10px;
}

.vk {
  overflow-y: scroll;
  height: 740px;
}

.feed-action-data {
  min-width: 125px;
}

.person {
  margin-bottom: 10px;
}

.small-poster {
  width: 60px;
}

.avatar-big {
  border-radius: 15px;
}

.avatar-small {
  border-radius: 5px;
}

.comment {
  margin-top: 10px;
}

.feed tbody tr:first-child td {
  border-top:0;
}

.item-desc {
  color: grey;
}

form {margin: 0}

legend {
  margin-bottom: 0;
}

.navbar .nav>li>a {
  padding-right: 14px;
}

.add-to-list-buttons {
  display: inline;
}

.comment button {
  margin-top: -26px;
}

.comment textarea {
  display: inline;
}

label {
  font-weight: normal;
  margin-bottom: 0;
}

.search-panel-additional {
    margin-right: 9px;
    float: right;
}

.search-panel-additional label, #preferences label {display: block;}

.people-user, .trailers a {
  margin-left: 10px;
}

.btn-secondary {
  color: #000;
  background-color: #fff;
  border-color: lightgray;
}
