[run]
branch = True
omit =
    moviesapp/tests.py

[report]

exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError

ignore_errors = True
show_missing = True

omit =
    moviesapp/tests.py

