[flake8]
exclude = .tox/*,src/moviesapp/migrations/*,node_modules,.git
max-line-length = 119
# max-complexity = 10  TODO: add
statistics = True
# Disable E121,E124,E128 (indentation) because it is handled by pylint
# Disable E402 (imports) because it is handled by isort
ignore = E121,E124,E128,E402
