__pycache__
.tox
*.pyc

# OS X meta data
._*
.DS_Store

.coverage
.idea
.vscode
node_modules
.cache
.pytest_cache/
yarn-error.log
package-lock.json
src/moviesapp/static/js/
src/moviesapp/static/font/
src/moviesapp/static/*.css
venv
env.sh
/static
/media
db_env_prod.sh
