*.py[cod]
tmdb3.cache
movies_project/static/admin/
movies_project/static/admin_tools/
movies_project/movies_project/secret.py
movies_project/static/js/
movies_project/movies_project/local_settings.py

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
