[MASTER]
ignore=migrations,fixtures

[FORMAT]
max-line-length: 119

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
# Disable import-error because it seem to give incorrect errors.
# Disable no-member because looks like it is being detected improperly.
# Disable duplicate-code because of the issue in pylint where it cannot be partially disabled. https://github.com/PyCQA/pylint/issues/214
# Disable invalid-name because it seem to mostly work incorrectly
# Disable line-too-long because it is handled by black
disable=import-error,no-member,duplicate-code,invalid-name,line-too-long,missing-docstring,too-many-arguments,arguments-differ,too-few-public-methods,fixme,abstract-method,too-many-locals,too-many-ancestors
