Django==1.8.18
django-annoying==0.10.3
django-simple-menu==1.2.1
poster==0.8.1
python-dateutil==2.6.0
django-modeltranslation==0.12.1
django-rosetta==0.7.13
social-auth-app-django==1.1.0
raven==6.0.0
facebook-sdk==2.0.0
tabulate==0.7.7
tmdbsimple==1.6.1

# social-auth-core==1.2.0
# dependency of social-auth-app-django
-e git+https://github.com/desecho/social-core.git@bugfix#egg=social-auth-core

# vkontakte==1.3.5
-e git+https://github.com/desecho/vkontakte.git@dev#egg=vkontakte

# My custom module
-e git+https://github.com/desecho/django-tqdm.git#egg=django-tqdm

#django-bootstrap-pagination==1.6.2
-e git+https://github.com/desecho/django-bootstrap-pagination.git@ru#egg=django-bootstrap-pagination
