Django==1.11
django-annoying==0.10.3
django-simple-menu==1.2.1
django-modeltranslation==0.12.1
django-rosetta==0.7.13
django-braces==1.11.0
social-auth-app-django==1.1.0
django-tqdm==0.0.3

mysqlclient==1.3.12
python-dateutil==2.6.0
raven==6.0.0
facebook-sdk==2.0.0
tabulate==0.7.7
Babel==2.4.0
requests==2.13.0
requests-toolbelt==0.7.1

# social-auth-core==1.2.0
# dependency of social-auth-app-django
-e git+https://github.com/python-social-auth/social-core.git#egg=social-auth-core

# vkontakte==1.3.5
-e git+https://github.com/desecho/vkontakte.git@dev#egg=vkontakte

# django-bootstrap-pagination==1.6.2
-e git+https://github.com/desecho/django-bootstrap-pagination.git@ru#egg=django-bootstrap-pagination

# tmdbsimple==1.6.1
-e git+https://github.com/desecho/tmdbsimple.git@changes#egg=tmdbsimple

-e git+https://github.com/bugov/django-custom-anonymous.git#egg=django-custom-anonymous
