-r requirements.txt

# Tests
beautifulsoup4

# Pytest
pytest
pytest-cov
pytest-sugar
pytest-mock
pytest-django

# Mocks
requests-mock

# Django
django-test-without-migrations

# Linting
pylint
isort
flake8
bandit
pydiatra
pydocstyle
safety
autoflake
black
restructuredtext_lint
Pygments # requirement for restructuredtext_lint
mypy
djhtml

# Stubs
django-stubs
types-python-dateutil
types-requests
types-babel
celery-types
