# Django
Django==2.0.13
django-annoying==0.10.4
django-simple-menu==1.2.1
django-rosetta==0.9.3
django-braces==1.13.0
django-tqdm==0.0.3
django-registration-redux==2.6

# django-google-analytics-app==4.1.0
# Open PR - https://github.com/praekelt/django-google-analytics/pull/38 - Django 2 support
-e git+https://github.com/desecho/django-google-analytics.git@django2#egg=django-google-analytics

# django-custom-anonymous==0.2
# Use GitHub because the version with required fix is only on GitHub
-e git+https://github.com/bugov/django-custom-anonymous.git@e2a208dfe3240f42d3a2e1400bc9021a28e1ca15#egg=django-custom-anonymous

social-auth-app-django==3.1.0

# django-bootstrap-pagination==1.6.2
# Contains open PRs:
# - https://github.com/jmcclell/django-bootstrap-pagination/pull/61 - Added Russian locale
# - Branch bootstrap4. No PR because the realization is not the best and there is already a WIP PR for this.
-e git+https://github.com/desecho/django-bootstrap-pagination.git@fixes#egg=django-bootstrap-pagination

# django-modeltranslation==0.12.2
# See https://github.com/deschler/django-modeltranslation/issues/436
# > 0.13 will be compatible with Django 1.11 and Django 2.0.
# Current version seems to work
-e git+https://github.com/deschler/django-modeltranslation.git@e2b4cada97018dd7662c685b2410e553e3ec9477#egg=django-modeltranslation

# django-modeladmin-reorder==0.2
# Django 2 support is only available in master
-e git+https://github.com/mishbahr/django-modeladmin-reorder.git@fb40efa6d3d0668f3323aaca8e5c4486c0ffdd7b#egg=django-modeladmin-reorder


# Requests
requests==2.22.0
requests-toolbelt==0.9.1


# Dates
python-dateutil==2.8.0
Babel==2.6.0


# Social
facebook-sdk==3.1.0

# vkontakte==1.3.5
# e27a433cf757a1689ea698339dee9c998acc4ec1
# Contains 3 open PRs:
# - https://github.com/kmike/vkontakte/pull/12 - Replaced custom http requests with requests module
# - https://github.com/kmike/vkontakte/pull/13 - Increase default timeout to 5 seconds
# - https://github.com/kmike/vkontakte/pull/14 - Add python 3 support
-e git+https://github.com/desecho/vkontakte.git@dev#egg=vkontakte


mysqlclient==1.4.2.post1
raven==6.10.0
tabulate==0.8.3

# tmdbsimple==2.1.0
# 528b027aace64ebd33f15c3a80fdcefbebc0922c
# Contains 2 closed PRs:
# - https://github.com/celiao/tmdbsimple/pull/26 - Handle 429 errors
# - https://github.com/celiao/tmdbsimple/pull/25 - Added language support
-e git+https://github.com/desecho/tmdbsimple.git@changes#egg=tmdbsimple
