-r requirements.txt

# Tests
flexmock
beautifulsoup4

# Pytest
pytest
pytest-cov
pytest-sugar
pytest-mock
pytest-django

# Django
django-debug-toolbar
django-debug-toolbar-template-timings
django-test-without-migrations

# Linting
pylint
isort
flake8
# Currently there is an issue with files not being excluded
# https://github.com/PyCQA/bandit/issues/499
# https://github.com/PyCQA/bandit/issues/693
bandit<1.6.0
pydiatra
pydocstyle
safety
autoflake
black
restructuredtext_lint
