{% extends 'base.html' %}
{% load avatar abs_url %}

{% block content %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <legend>{% trans 'Settings' %}</legend>
    <br>
    <div class="col-sm-7 col-md-5">
      {% include 'includes/form_errors.html' %}
    </div>
    <div class="form-group row vk-app-hide" style="display: none;">
      <label class="col-form-label col-sm-4 preference-label" for="lang">{% trans 'Avatar' %}:</label>
      <div class="col-sm-8">
        {% avatar_big user %}
        {% if not user.is_linked %}
          <br>
          {% trans 'You can change your avatar on' %} <a href="http://gravatar.com" target="_blank">Gravatar</a>
        {% endif %}
      </div>
    </div>
    {% for field in form %}
      <div class="form-group row">
        <label class="col-form-label col-sm-4 preference-label"
               for="{{ field.id_for_label }}">{{ field.label }}:</label>
        <div class="col-sm-5 col-md-5 ">
          {{ field }}
          {% if field.name == 'only_for_friends' %}
            <label class="small" for="id_only_for_friends">{{ field.help_text }}</label>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <div class="form-group row">
      <label class="col-form-label col-sm-4 preference-label">{% trans 'Password' %}:</label>
      <div class="col-sm-5 col-md-3">
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4 preference-label">{% trans 'Profile link' %}:</label>
      <div class="col-sm-5 col-md-3">
        <a href="{% url 'list' user.username 'watched' %}">{% abs_url 'list' user.username 'watched' %}</a>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-4"></label>
      <div class="col-sm-5 col-md-3">
        <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Save' %}">
      </div>
    </div>
  </form>
{% endblock %}
