footer {
  text-align: right;
  grid-row-start: 2;
  grid-row-end: 3;
}

.powered-by-tmdb {
  background: url("../images/tmdb-alt-long.svg");
  background-repeat: no-repeat;
  width: 218px;
  height: 18px;
  display: inline-block;
  background-size: contain;
}
