@media (max-width: 768px) {
  .search {
    margin-top: 10px;
  }

  #movie-count span {
    margin-right: 0 !important;
    display: block;
  }
}

.full {
  clear: both;
}

#movie-count {
  font-size: 25px;
  float: right;
  text-align: right;
  color: #707070;
  min-height: 100px;

  img {
    margin-top: 10px;
  }
}

.recommendation-review {
  margin-bottom: 10px;
  padding: 10px;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.item-desc {
  color: #808080;
}


.comment {
  margin-top: 10px;
  button {
    margin-top: -26px;
  }

  textarea {
    display: inline;
  }
}

.review {
  padding-top: 10px;
  button {
    margin-bottom: 15px;
  }
}

.trailers a {
  margin-left: 10px;
}

.imdb {
  background: url('../images/imdb.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
  display: inline-block;
  background-size: contain;
}
