#list {
  .poster-small {
    width: 92px;
  }

  .movie {
    clear: both;
    min-height: 160px;
    margin-bottom: 10px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px;

    &-minimal {
      min-height: 0;
      margin: 10px 0 0 0;
      padding: 0;
      border-width: 0 0 1px 0;
      border-radius: 0;
    }
  }

  .recommendation-review {
    margin-bottom: 10px;
    padding: 10px;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #f4f4f4;
  }

  .item-desc {
    color: #808080;
  }


  .comment {
    margin-top: 10px;
    width: 400px;
    textarea {
      display: inline;
    }
  }

  .review {
    padding-top: 10px;
    button {
      margin: 10px 0;
    }
  }

  .trailers a {
    margin-left: 10px;
  }

  @media (max-width: 768px) {
    .search {
      margin-top: 10px;
    }

    #movie-count {
      min-height: 50px;
      float: none;
    }

    .recommendation-review {
      .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
        font-size: 1.2em;
      }
      max-width: 290px;
    }
  }

  .urls {
    .tmdb {
      background: url('../images/tmdb.svg');
      background-repeat: no-repeat;
      width: 70px;
      height: 50px;
      display: inline-block;
      background-size: contain;
      margin-left: 5px;
    }

    .imdb {
      background: url('../images/imdb.svg');
      background-repeat: no-repeat;
      width: 100px;
      height: 50px;
      display: inline-block;
      background-size: contain;
    }
  }

  .provider {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 5px;
  }

  .remove-button {
    display: inline;
    margin-left: 10px;
  }

  .review-minimal {
    padding-top: 0;
    display: inline;

    .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
      font-size: 1.16em;
    }

    .vue-star-rating {
      display: inline;
      top: -2px;
      position: relative;
      left: 5px;
    }
  }

  .details-minimal {
    display: inline;

    .release-date, .imdb-rating {
      float: right;
      margin-right: 10px;
    }
  }
}
