html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}

footer {
  text-align: right;
  grid-row-start: 2;
  grid-row-end: 3;
}

.hidden {
  display: none;
}

form {
  margin: 0;
}

legend {
  margin-bottom: 0;
}

.pagination {
  padding-top: 10px;
  max-width: 490px;
}

label {
  font-weight: normal;
  margin-bottom: 0;

  &.error {
    color: #b94a48;
  }
}

.btn-secondary {
  color: #000;
  border-color: #d3d3d3;
  background-color: #fff;
}

.col-form-label {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url('../images/icon-arrow-down.svg') right / 20px;
  background-repeat: no-repeat;
  padding-right: 20px;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input {
  vertical-align: middle;
}

// Modify bootstrap pagination style

.page-link {
  padding: 0.5rem 0.7rem;
}
