html {
  height: 100%;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}

form {
  margin: 0;
}

legend {
  margin-bottom: 0;
}

.pagination {
  padding-top: 10px;
  max-width: 490px;
}

label {
  font-weight: normal;
  margin-bottom: 0;

  &.error {
    color: #b94a48;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/icon-arrow-down.svg") right / 20px;
  background-repeat: no-repeat;
  padding-right: 20px;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input {
  vertical-align: middle;
  margin: revert;
}
