.search-type-button {
  width: 105px;
}

.search-panel-additional {
  float: right;
  margin-right: 9px;

  label {
    display: block;
  }
}

.search-btn-group {
  .btn-secondary:focus, .btn-secondary.focus, .btn:focus, .btn.focus {
    box-shadow: none !important;
  }
}

.tmdb {
  background: url('../images/tmdb.svg');
  background-repeat: no-repeat;
  width: 85px;
  height: 61px;
  display: inline-block;
  background-size: contain;
}
