@import 'utils';
@import 'main';
@import 'feed';
@import 'list';
@import 'search';
@import 'avatar';
@import 'vk';
@import 'people';
@import 'login';
@import 'menu';
@import 'gallery';
@import 'footer';
@import 'preferences';

/* Feed & List */
.rating {
  display: inline;
  margin-right: 10px;
}
/* ----------- */

/* Search & List */
.results {
  margin-top: 20px;
}

.movie {
  clear: both;
  min-height: 160px;
  margin-bottom: 10px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;

  &-minimal {
    min-height: 0;
    margin: 10px 0 0 0;
    padding: 0;
    border-width: 0 0 1px 0;
    border-radius: 0;
  }
}

.poster-big {
  width: 185px;
}

.poster {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;

  .poster-small {
    width: 92px;
  }
}

.title {
  /* copied mostly from bootstrap h4 */
  font-size: 17.5px;
  font-weight: bold;
  line-height: 20px;
  display: inline;
}

.add-to-list-buttons {
  display: inline;
  a, span {
    margin-left: 10px;
  }
}

.movie-count {
  display: inline;
  margin-left: 10px;
}
/* ----------- */
