/* Vue.js */
[v-cloak] {
  display: none !important;
}

.v-toast {
  padding: 0 8px 0 0;
}
/* -------------------------------- */
/* Bootstrap pagination */

.page-link {
  padding: 0.5rem 0.7rem;
}
/* -------------------------------- */
/* Bootstrap */

.btn-secondary {
  color: #000;
  border-color: #d3d3d3;
  background-color: #fff;
}

.col-form-label {
  padding-top: 0;
  padding-bottom: 0;
}
/* -------------------------------- */

#nprogress .spinner {
  display: none;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.draggable {
  cursor: move;
}
