{% extends 'base.html' %}

{% block title %}{% trans 'About Movies' %}{% endblock %}

{% block content %}
  <legend>{% trans 'About Movies' %}</legend>
  {% blocktrans %}
    <p>Create movie lists ("Watched" and "To watch"), rate movies, and add comments.</p>
    <p>You can also add additional information such as if you watched the movie in the original version, in theatre, an extended version, in 4k.</p>
    <p>The website is <a href="http://movies.samarchyan.me" target="_blank">http://movies.samarchyan.me</a>.</p>
    <p>There is a Movies <a href="https://vk.com/app3504693_2912142" target="_blank">VK app</a> available.</p>
    <p>The app won't work in Chrome's Incognito mode. To make it work, open Cookies settings
      (<a href="chrome://settings/content/cookies">chrome://settings/content/cookies</a>)
      and change the setting "Block third-party cookies".</p>
    <p>Rating system:</p>
    <ul>
      <li>1 — Awful
      <li>2 — Bad
      <li>3 — Ok
      <li>4 — Good
      <li>5 — Excellent
    </ul>
    <p>If you have problems with account activation or other issues, questions or feedback email me at <a
      href="mailto:{{ ADMIN_EMAIL }}">{{ ADMIN_EMAIL }}</a>.</p>
    <p>Development:</p>
    <p>The APIs used in Movies are: </p>
    <ul>
      <li><a href="https://www.themoviedb.org/" target="_blank">TMDB</a>
      <li><a href="https://www.omdbapi.com/" target="_blank">OMDb</a>
    </ul>
    <p>The source code is available on GitHub — <a href="https://github.com/desecho/movies" target="_blank">Movies</a>.
  {% endblocktrans %}
{% endblock %}
