{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'vendor.css' %}" rel="stylesheet">
  <link href="{% static 'style.css' %}" rel="stylesheet">
  {% block head %}{% endblock %}
  <meta charset="utf-8">
  <title>{% block title %}Movies{% endblock %}</title>
</head>
<body>
<div id="app">
  <flash-message class="flashpool"></flash-message>
  {% include 'includes/menu.html' %}
  <div id="content" class="container-fluid mt-3">
    {% block content %}{% endblock %}
  </div>
</div>
{% include 'includes/footer.html' %}
{% include 'includes/google_analytics.html' %}
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/commons.js' %}"></script>
<script src="{% static 'js/vendor.js' %}"></script>
<script>
  'use strict';
  // It has to be before init.js
  const vars = {isVkUser: {{ user.is_vk_user|yesno:'true,false' }}};

</script>
<script src="{% static 'js/init.js' %}"></script>
{% if user.is_vk_user %}
  <script src="//vk.com/js/api/xd_connection.js?2"></script>
{% endif %}
{% block js %}{% endblock %}
<script src="{% static 'js/setAxiosSettings.js' %}"></script>
</body>
