{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  {% include 'includes/movie_count.html' %}

  <div class="row">
    <div class="col-sm-12">
      {% if anothers_account %}
        <a class="btn btn-secondary" href="{% url 'list' anothers_account.username list %}">{% trans 'List' %}</a>
      {% else %}
        <a class="btn btn-secondary" href="{% url 'list' list %}">{% trans 'List' %}</a>
      {% endif %}
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary {% ifequal list 'watched' %} active {% endifequal %}"
               title="{% trans 'Watched' %}"
          {% if anothers_account %}
               @click="openUrl('{% url 'gallery' anothers_account.username 'watched' %}')"
          {% else %}
               @click="openUrl('{% url 'gallery' 'watched' %}')"
          {% endif %}
        >
          <input type="radio" {% ifequal list 'watched' %} checked {% endifequal %}>{% trans 'Watched' %}
        </label>
        <label class="btn btn-secondary {% ifequal list 'to-watch' %} active {% endifequal %}"
               title="{% trans 'To Watch' %}"
          {% if anothers_account %}
               @click="openUrl('{% url 'gallery' anothers_account.username 'to-watch' %}')"
          {% else %}
               @click="openUrl('{% url 'gallery' 'to-watch' %}')"
          {% endif %}
        >
          <input type="radio" {% ifequal list 'to-watch' %} checked {% endifequal %}>{% trans 'To Watch' %}
        </label>
      </div>

    </div>
  </div>
  <br>
  <br>
  <br>
  <div>
    {% for record in records %}
      <img src="{{ record.movie.poster_normal }}" data-rjs="{{ record.movie.poster_big }}"
           alt="{{ record.movie.title }}" class="gallery-poster"/>
    {% endfor %}
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
