{% extends 'base.html' %}

{% block content %}
  {% include 'includes/movie_count.html' %}
  <div class="row">
    <div class="col-sm-12 mb-2">
      <a
        class="btn btn-secondary"
        {% if anothers_account %}
          href="{% url 'list' anothers_account.username list %}"
        {% else %}
          href="{% url 'list' list %}"
        {% endif %}
      >
        {% translate 'List' %}
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 mb-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label
          class="btn btn-secondary" :class="{active: listId == listWatchedId}"
          @click="openUrl(urls.galleryWatched)"
          title="{% translate 'Watched' %}"
        >
          <input type="radio" :checked="listId == listWatchedId">
          {% translate 'Watched' %}
        </label>
        <label
          class="btn btn-secondary" :class="{active: listId == listToWatchId}"
          @click="openUrl(urls.galleryToWatch)"
          title="{% translate 'To Watch' %}"
        >
          <input type="radio" :checked="listId == listToWatchId">
          {% translate 'To Watch' %}
        </label>
      </div>
    </div>
  </div>
  <div>
    <v-lazy-image
      class="gallery-poster poster-big"
      :srcset="getSrcSet(movie.posterNormal, movie.posterBig)"
      :src="movie.posterBig"
      :title="movie.titleOriginal"
      :alt="movie.title"
      v-for="movie in movies"
    />
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    vars.movies = JSON.parse('{{ movies|escapejs|safe }}');
    vars.listId = {{ list_id }};
    {% if anothers_account %}
      urls.galleryWatched = '{% url 'gallery' anothers_account.username 'watched' %}';
      urls.galleryToWatch = '{% url 'gallery' anothers_account.username 'to-watch' %}';
    {% else %}
      urls.galleryWatched = '{% url 'gallery' 'watched' %}';
      urls.galleryToWatch = '{% url 'gallery' 'to-watch' %}';
    {% endif %}
  </script>
  <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
