{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block content %}
  {% include 'includes/movie_count.html' %}
  <div class="row" v-cloak>
    {% if anothers_account %}
      <div class="col-sm-12 mb-2">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
          <label
            class="btn btn-secondary" :class="{active: listId == listWatchedId}"
            @click="openUrl('{% url 'list' anothers_account.username 'watched' %}')"
            title="{% translate 'Watched' %}"
          >
            <input type="radio" :checked="listId == listWatchedId">
            {% translate 'Watched' %}
          </label>
          <label
            class="btn btn-secondary" :class="{active: listId == listToWatchId}"
            @click="openUrl('{% url 'list' anothers_account.username 'to-watch' %}')"
            title="{% translate 'To Watch' %}"
          >
            <input type="radio" :checked="listId == listToWatchId">
            {% translate 'To Watch' %}
          </label>
        </div>
      </div>
    {% endif %}
    <div class="col-sm-12 mb-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
        <label
          class="btn btn-secondary" :class="{active: mode == 'full'}"
          @click="switchMode('full')"
          title="{% translate 'Full mode' %}"
        >
          <input type="radio" :checked="mode == 'full'">
          {% translate 'Full' %}
        </label>
        <label
          class="btn btn-secondary" :class="{active: mode == 'compact'}"
          @click="switchMode('compact')"
          title="{% translate 'Compact mode' %}"
        >
          <input type="radio" :checked="mode == 'compact'">
          {% translate 'Compact' %}
        </label>
        <label
          class="btn btn-secondary" :class="{active: mode == 'minimal'}"
          @click="switchMode('minimal')"
          title="{% translate 'Minimal mode' %}"
        >
          <input type="radio" :checked="mode == 'minimal'">
          {% translate 'Minimal' %}
        </label>
        <label
          class="btn btn-secondary" :class="{active: mode == 'gallery'}"
          @click="switchMode('gallery')"
          title="{% translate 'Gallery mode' %}"
        >
          <input type="radio" :checked="mode == 'gallery'">
          {% translate 'Gallery' %}
        </label>
      </div>
    </div>
    {% if anothers_account and user.is_authenticated %}
      <div class="col-sm-12 mb-2">
        <button
          class="btn btn-secondary" :class="{active: recommendations}"
          type="button"
          @click="toggleRecommendation"
        >
          {% translate 'Recommendations' %}
        </button>
      </div>
    {% endif %}
    <div class="col-sm-9 col-md-7 col-lg-5 col-xl-5 mb-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label
          class="btn btn-secondary" :class="{active: sort == 'releaseDate'}"
          @click="switchSort('releaseDate')"
          title="{% translate 'Sort by release date' %}"
        >
          <input type="radio" :checked="sort == 'releaseDate'">
          {% translate 'Release date' %}
        </label>
        <label
          class="btn btn-secondary" :class="{active: sort == 'rating'}"
          @click="switchSort('rating')"
          title="{% translate 'Sort by rating' %}"
        >
          <input type="radio" :checked="sort == 'rating'">
          {% translate 'Rating' %}
        </label>
        <label
          class="btn btn-secondary" :class="{active: sort == 'additionDate'}"
          @click="switchSort('additionDate')"
          title="{% translate 'Sort by date added' %}"
        >
          <input type="radio" :checked="sort == 'additionDate'">
          {% translate 'Date added' %}
        </label>
        <label
          class="btn btn-secondary" :class="{active: sort == 'custom'}"
          @click="switchSort('custom')"
          title="{% translate 'Custom sorting' %}"
          v-if="listId == listToWatchId"
        >
          <input type="radio" :checked="sort == 'custom'">
          {% translate 'Custom' %}
        </label>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <form action="" method="get" class="search">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" name="query">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">{% translate 'Search' %}</button>
          </div>
        </div>
      </form>
      {% if query %}
        <h3 id="query">
          {{ query }} <span><a href="{{ request.path }}"><font-awesome-icon icon="fa-solid fa-xmark" /></a></span>
        </h3>
      {% endif %}
    </div>
  </div>
  <div id="list" class="results col-sm-12 col-md-10 col-lg-8" v-cloak v-if="mode != 'gallery'">
    <draggable
      v-model="records"
      @sort="saveRecordsOrder"
      item-key="id"
      :disabled="!isSortable"
    >
      <template #item="{element, index}">
        <div class="movie" :class="{'movie-minimal': mode == 'minimal', draggable: isSortable}">
          <div class="title">
            <span :title="element.movie.titleOriginal">[[ element.movie.title ]]</span>
            {% if not anothers_account %}
              <div class="remove-button">
                <a href="javascript:void(0)" @click="removeRecord(element, index)" title="{% translate 'Delete' %}">
                  <font-awesome-icon icon="fa-solid fa-trash" />
                </a>
              </div>
            {% endif %}
            <div class="add-to-list-buttons">
              {% if anothers_account %}
                <div class="inline">
                  <div class="inline" v-if="!element.listId">
                    <a
                      href="javascript:void(0)"
                      @click="addToList(element.movie.id, listWatchedId, element)"
                      title="{% translate 'Add to &quot;Watched&quot; list' %}"
                      v-show="element.movie.isReleased"
                    >
                      <font-awesome-icon icon="fa-solid fa-eye" />
                    </a>
                    <a href="javascript:void(0)"
                      @click="addToList(element.movie.id, listToWatchId, element)"
                      title="{% translate 'Add to &quot;To Watch&quot; list' %}"
                    >
                      <font-awesome-icon icon="fa-solid fa-eye-slash" />
                    </a>
                  </div>
                  <span v-show="element.listId == listWatchedId" >
                    <font-awesome-icon icon="fa-solid fa-eye" title="{% translate 'Watched' %}" />
                  </span>
                  <span v-show="element.listId == listToWatchId">
                    <font-awesome-icon icon="fa-solid fa-eye-slash" title="{% translate 'To Watch' %}" />
                  </span>
                </div>
              {% else %}
                <div class="inline">
                  <div v-if="listId == listToWatchId" class="inline">
                    <a
                      href="javascript:void(0)"
                      @click="addToList(element.movie.id, listWatchedId, element)"
                      title="{% translate 'Add to &quot;Watched&quot; list' %}"
                      v-show="element.movie.isReleased && !element.listId"
                    >
                      <font-awesome-icon icon="fa-solid fa-eye" />
                    </a>
                    <span>
                      <font-awesome-icon
                        icon="fa-solid fa-eye"
                        title="{% translate 'Watched' %}"
                        v-show="element.listId"
                      />
                    </span>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="poster" v-show="mode !='minimal'">
            <span v-if="mode == 'full'">
              <v-lazy-image
                class="poster-big"
                :srcset="getSrcSet(element.movie.posterNormal, element.movie.posterBig)"
                :src="element.movie.posterBig"
                :title="element.movie.titleOriginal"
                :alt="element.movie.title"
              />
            </span>
            <span v-else>
              <v-lazy-image
                class="poster-small"
                :srcset="getSrcSet(element.movie.posterSmall, element.movie.posterNormal)"
                :src="element.movie.posterNormal"
                :title="element.movie.titleOriginal"
                :alt="element.movie.title"
              />
            </span>
          </div>
          <div class="details" :class="{ 'details-minimal': mode == 'minimal'}">
            <div class="imdb-rating" v-show="element.movie.imdbRating">
              <span class="item-desc">{% translate 'IMDb Rating' %}:</span>
              [[ element.movie.imdbRating ]]
            </div>
            <div class="release-date" v-show="element.movie.isReleased">
              <span class="item-desc" v-show="mode != 'minimal'">{% translate 'Release Date' %}:</span>
              [[ element.movie.releaseDate ]]
            </div>
            <div v-show="mode == 'full'">
              <div v-show="element.movie.country">
                <span class="item-desc">{% translate 'Country' %}:</span>
                [[ element.movie.country ]]
              </div>
              <div v-show="element.movie.director">
                <span class="item-desc">{% translate 'Director' %}:</span>
                [[ element.movie.director ]]
              </div>
              <div v-show="element.movie.writer">
                <span class="item-desc">{% translate 'Writer' %}:</span>
                [[ element.movie.writer ]]
              </div>
              <div v-show="element.movie.genre">
                <span class="item-desc">{% translate 'Genre' %}:</span>
                [[ element.movie.genre ]]
              </div>
              <div v-show="element.movie.actors">
                <span class="item-desc">{% translate 'Actors' %}:</span>
                [[ element.movie.actors ]]
              </div>
              <div v-show="element.movie.runtime">
                <span class="item-desc">{% translate 'Runtime' %}:</span>
                [[ element.movie.runtime ]]
              </div>
              <div v-show="element.movie.overview">
                <span class="item-desc">{% translate 'Overview' %}:</span>
                [[ element.movie.overview ]]
              </div>
              <div v-show="element.movie.homepage">
                <a :href="element.movie.homepage" target="_blank">{% translate 'Website' %}</a>
              </div>
              <div class="urls">
                <a :href="element.movie.imdbUrl" target="_blank"><span class="imdb"></span></a>
                <a :href="element.movie.tmdbUrl" target="_blank"><span class="tmdb"></span></a>
              </div>
              <div v-show="element.movie.trailers.length">
                <span class="item-desc">{% translate 'Trailers' %}:</span>
                <div class="trailers">
                  <a :href="trailer.url" target="_blank" v-for="trailer in element.movie.trailers">[[ trailer.name ]]</a>
                </div>
              </div>
              <div v-show="element.providerRecords.length">
                <span class="item-desc">{% translate 'Stream on' %}:</span>
                <div>
                  <a
                    :href="providerRecord.tmdbWatchUrl"
                    target="_blank"
                    v-for="providerRecord in element.providerRecords"
                  >
                    <v-lazy-image
                      class="provider"
                      :src="providerRecord.provider.logo"
                      :title="providerRecord.provider.name"
                      :alt="providerRecord.provider.name"
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class="review" :class="{'review-minimal': mode == 'minimal'}">
              {% if list == 'watched' %}
                <star-rating
                  :read-only="isAnothersAccount"
                  :star-size="starSize"
                  :show-rating=false
                  :clearable=true
                  @update:rating="changeRating(element, $event)"
                  v-model:rating="element.rating"
                >
                </star-rating>
                <div class="comment" v-show="(element.comment || element.commentArea) && mode != 'minimal'">
                  {% if anothers_account %}
                    <p>[[ element.comment ]]</p>
                  {% else %}
                    <div>
                      <resize-textarea
                        class="form-control"
                        title="{% translate 'Comment' %}"
                        v-model="element.comment"
                      >
                      </resize-textarea>
                    </div>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      @click="saveComment(element)"
                      title="{% translate 'Save' %}"
                    >
                      <font-awesome-icon icon="fa-solid fa-save" />
                    </button>
                  {% endif %}
                </div>
                {% if not anothers_account %}
                  <button
                    type="button"
                    class="btn btn-secondary"
                    @click="showCommentArea(element)"
                    title="{% translate 'Add comment' %}"
                    v-show="element.comment == '' && !element.commentArea && mode != 'minimal'"
                  >
                    <font-awesome-icon icon="fa-solid fa-comment" />
                  </button>
                  <div v-show="mode == 'full'">
                    <div>
                      <label :for="'original_' + element.id">{% translate 'Watched original version' %}</label>
                      <input
                        :id="'original_' + element.id"
                        type="checkbox"
                        @change="saveOptions(element, 'original')"
                        v-model="element.options.original"
                      >
                    </div>
                    <div>
                      <label :for="'extended_' + element.id">{% translate 'Watched extended version' %}</label>
                      <input
                        :id="'extended_' + element.id"
                        type="checkbox"
                        @change="saveOptions(element, 'extended')"
                        v-model="element.options.extended"
                      >
                    </div>
                    <div>
                      <label :for="'theatre_' + element.id">{% translate 'Watched in theatre' %}</label>
                      <input
                        :id="'theatre_' + element.id"
                        type="checkbox"
                        @change="saveOptions(element, 'theatre')"
                        v-model="element.options.theatre"
                      >
                    </div>
                    <div>
                      <label :for="'hd_' + element.id">{% translate 'Watched in HD' %}</label>
                      <input
                        :id="'hd_' + element.id"
                        type="checkbox"
                        @change="saveOptions(element, 'hd')"
                        v-model="element.options.hd"
                      >
                    </div>
                    <div>
                      <label :for="'full_hd_' + element.id">{% translate 'Watched in FullHD' %}</label>
                      <input
                        :id="'full_hd_' + element.id"
                        type="checkbox"
                        @change="saveOptions(element, 'fullHd')"
                        v-model="element.options.fullHd"
                      >
                    </div>
                    <div>
                      <label :for="'4k_' + element.id">{% translate 'Watched in 4K' %}</label>
                      <input
                        :id="'4k_' + element.id"
                        type="checkbox"
                        @change="saveOptions(element, 'ultraHd')"
                        v-model="element.options.ultraHd"
                      >
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </template>
    </draggable>

    {% if records.has_other_pages %}
      {% bootstrap_paginate records range=5 show_prev_next='true' show_first_last='true' alignment='left' %}
    {% endif %}
  </div>
  <div id="gallery" v-cloak v-if="mode == 'gallery'">
    <draggable
      v-model="records"
      @sort="saveRecordsOrder"
      item-key="id"
      :disabled="!isSortable"
    >
      <template #item="{element, index}">
        <div class="gallery-record">
          <button
            type="button"
            class="btn btn-secondary up-button"
            @click="moveToTop(element, index)"
            title="{% translate 'Move to the top' %}"
            v-show="isSortable"
          >
            <font-awesome-icon icon="fa-solid fa-arrow-up" />
          </button>
          <button
            type="button"
            class="btn btn-secondary down-button"
            @click="moveToBottom(element, index)"
            title="{% translate 'Move to the bottom' %}"
            v-show="isSortable"
          >
            <font-awesome-icon icon="fa-solid fa-arrow-down" />
          </button>
          <v-lazy-image
            class="poster-big" :class="{draggable: isSortable}"
            :srcset="getSrcSet(element.movie.posterNormal, element.movie.posterBig)"
            :src="element.movie.posterBig"
            :title="element.movie.titleOriginal"
            :alt="element.movie.title"
          />
        </div>
      </template>
    </draggable>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    vars.records = JSON.parse('{{ record_objects|escapejs|safe }}');
    vars.mode = '{{ request.session.mode }}';
    vars.listId = {{ list_id }};
    vars.listName = '{{ list }}';
    vars.sort = '{{ sort }}';
    vars.recommendations = {{ request.session.recommendations|yesno:'true,false' }};
    vars.isAnothersAccount = {{ anothers_account|yesno:'true,false' }};
    urls.changeRating = '{% url 'change_rating' %}';
    urls.removeRecord = '{% url 'remove_record' %}';
    urls.saveSettings = '{% url 'save_settings' %}';
    urls.record = '{% url 'record' %}';
    urls.addToList = '{% url 'add_to_list' %}';
    urls.saveComment = '{% url 'save_comment' %}';
    urls.saveRecordsOrder = '{% url 'save_records_order' %}';
  </script>
  <script src="{% static 'js/list.js' %}"></script>
{% endblock %}
