{% load i18n %}

<!DOCTYPE html>
<head>
    <link href="/static/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<br>
<div class="container-fluid">
<form method="post" action="{% url 'login' %}" class="form-horizontal" id="login-form">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label col-sm-2" for="username">{{ form.username.label_tag }}</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="username" required {% if form.username.value %} value="{{ form.username.value}}" {% endif %} autofocus>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="password">{{ form.password.label_tag }}</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" name="password" required {% if form.password.value %} value="{{ form.password.value}}" {% endif %}>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-default" value="{% trans 'Enter' %}">
    </div>
  </div>
  <input type="hidden" name="next" value="{{ next }}">
  {% if form.errors %}
    <div class="form-group">
      <div role="alert" class="col-sm-offset-2 col-sm-2 alert alert-danger">
        {% trans 'You entered incorrect login/password' %}.
      </div>
    </div>
  {% endif %}
  <div class="form-group">
	<div class="col-sm-offset-2 col-sm-2">
		<div class="wauth_head">
			<a class="wauth_logo" href="{% url 'social:begin' 'vk-oauth2' %}"></a>
			<a class="text" href="{% url 'social:begin' 'vk-oauth2' %}">{% trans 'Login with' %}</a>
		</div>
  </div>
  </div>
</form>

<a href="{% url 'social:begin' 'facebook' %}">FACEBOOK</a>
</div>
</body>
