{% extends "base.html" %}

{% load bootstrap_pagination %}
{% load avatar %}

{% block content %}

{% for user in users %}
    <div class="person"><a href="/people/{{ user.user.username }}/watched">
      {% avatar user.user %} <a href="/people/{{ user.user.username }}/watched">{{ user.user }}</a> {{ user.movie_count|safe }}
    </div>
{% endfor %}

{% if users.has_other_pages %}
    {% bootstrap_paginate users range=10 show_prev_next="true" show_first_last="true" alignment="left" %}
{% endif %}

{% endblock %}