{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div ng-controller="PreferencesController">
<form class="form-horizontal">
	<legend>{% trans 'Settings' %}</legend>

  <div class="form-group">
    <label class="control-label col-sm-2" for="lang">{% trans 'Language' %}:</label>
    <div class="col-sm-2">
    <label class="radio">
      <input type="radio" ng-click="savePreferences(true)" name="lang" value="en" {% ifequal user.language 'en' %} checked {% endifequal %}> {% trans 'English' %}
    </label>
    <label class="radio">
      <input type="radio" ng-click="savePreferences(true)" name="lang" value="ru" {% ifequal user.language 'ru' %} checked {% endifequal %}> {% trans 'Russian' %}<br>
    </label>
    </div>
  </div>

  {% if user.is_vk_user %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="only-for-friends">{% trans 'Access' %}:</label>
      <div class="col-sm-4">
        <label class="checkbox">
          <input type="checkbox" ng-click="savePreferences()" id="only-for-friends" name="only_for_friends" {% if user.only_for_friends %} checked {% endif %}> {% trans 'Show my profile only to friends' %}<br>
        </label>
      </div>
    </div>
  {% endif %}
</form>
</div>
{% endblock %}

{% block js %}
<script>
  var urlSavePreferences = '{% url 'moviesapp.views.ajax_save_preferences' %}';
</script>

<script src="/static/js/preferences.js"></script>
{% endblock %}
