{% load i18n %}
{% load get %}

{% if reviews|get:record.id %}
{% for review in reviews|get:record.id %}
  <div class="recommendation-review">
    <a href="/people/{{ review.username }}/watched"><img class="avatar-small" src="{{ review.avatar }}" alt="{{ review.full_name }}" title="{{ review.full_name }}"></a>
    {% if review.rating %}<strong>{% trans 'Rating' %}:</strong> <div class="rating" data-rating="{{ review.rating }}"></div><br>{% endif %}
    {% if review.comment %}<strong>{% trans 'Comment' %}:</strong> {{ review.comment }}{% endif %}
  </div>
{% endfor %}
{% endif %}