{% extends 'base.html' %}

{% block content %}
  <div v-cloak id="search">
    <form @submit.prevent="search" class="mt-1 col-lg-7 col-md-8 col-sm-10 col-xl-5 mx-auto">
      <div class="input-group">
        <input class="form-control" type="text" autofocus v-model="query" required>
        <div class="input-group-append search-btn-group">
          <button class="btn btn-secondary" type="submit">{% translate 'Search' %}</button>
          <button
            class="search-type-button btn btn-secondary dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            [[ searchType ]] <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:void(0)" @click="changeSearchType('movie');">
              {% translate 'Movie' %}
            </a>
            <a class="dropdown-item" href="javascript:void(0)" @click="changeSearchType('actor');">
              {% translate 'Actor' %}
            </a>
            <a class="dropdown-item" href="javascript:void(0)" @click="changeSearchType('director');">
              {% translate 'Director' %}
            </a>
          </div>
        </div>
      </div>
      <div class="search-panel-additional">
        <div>
          <label class="checkbox">
            <input type="checkbox" v-model="popularOnly"> {% translate 'show only popular' %}
          </label>
        </div>
        <div>
          <label class="checkbox">
            <input type="checkbox" v-model="sortByDate"> {% translate 'sort by date' %}
          </label>
        </div>
      </div>
    </form>
    <movies-list :movies="movies" :urls="urls" />
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.searchMovie = '{% url 'search_movie' %}';
    urls.addToListFromDb = '{% url 'add_to_list_from_db' %}';

    {% get_current_language as LANGUAGE_CODE %}

    vars.language = '{{ LANGUAGE_CODE }}';

  </script>
  <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
