{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
<div ng-controller="MoviesSearchController" id="search" style="display: none">
    <form name="search" id="search" ng-submit="search.$valid && submit()" novalidate class="col-lg-7 col-md-8 col-sm-10 col-xl-5 mx-auto">
      <div class="input-group">
        <input class="span2 form-control" id="query" name="query" type="text" autofocus ng-model="query" required aria-label="{% trans 'Text input with dropdown button' %}">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">{% trans 'Search' %}</button>
            <button id="search-type-button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              [[ searchType ]] <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSearchType('movie');">{% trans 'Movie' %}</a>
              <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSearchType('actor');">{% trans 'Actor' %}</a>
              <a class="dropdown-item" href="javascript:void(0)" ng-click="changeSearchType('director');">{% trans 'Director' %}</a>
            </div>
          </div>
      </div>
      <div class="search-panel-additional">
        <label class="checkbox">
          <input type="checkbox" id="popular-only" checked> {% trans 'show only popular' %}<br>
        </label>
        <label class="checkbox">
          <input type="checkbox" id="sort-by-date"> {% trans 'sort by date' %}
        </label>
      </div>
    </form>
    <div id="results" class="results" ng-repeat="searchResult in searchResults">
        <div class="movie" id="movie[[searchResult.id]]">
            <div class="poster"><img ng-src="[[searchResult.poster]]" alt="[[searchResult.title]] poster"/></div>
            <div class="title">"[[searchResult.title]]"
            <div class="add-to-list-buttons">
            <a href="javascript:void(0)" title="{% trans 'Add to the list' %} {% trans 'Watched' %}" ng-click="addToListFromDb(searchResult.id, 1)"><i class="fa fa-eye"></i></a>
            <a href="javascript:void(0)" title="{% trans 'Add to the list' %} {% trans 'To Watch' %}" ng-click="addToListFromDb(searchResult.id, 2)"><i class="fa fa-eye-slash"></i></a>
            </div></div>
            <div class="details" ng-show="searchResult.releaseDate">
                <strong>{% trans 'Release date' %}:</strong> [[searchResult.releaseDate]]
            </div>
        </div>
    </div>
    <div ng-show="nothingFound">{% trans 'Nothing has been found' %}.</div>
</div>
{% endblock %}

{% block js %}
<script>
  const urlSearchMovie = '{% url 'search_movie' %}';
  const urlAddToListFromDb = '{% url 'add_to_list_from_db' %}';
</script>
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}
