{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block content %}
  <div>
    {% include 'includes/movie_count.html' %}
    {% if anothers_account %}
      <div class="row">
        <div class="col-sm-12 mb-2">
          <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
            <label
              class="btn btn-secondary" :class="{active: listId == listWatchedId}"
              @click="openUrl('{% url 'list' anothers_account.username 'watched' %}')"
              title="{% translate 'Watched' %}"
            >
              <input type="radio" :checked="listId == listWatchedId">
              {% translate 'Watched' %}
            </label>
            <label
              class="btn btn-secondary" :class="{active: listId == listToWatchId}"
              @click="openUrl('{% url 'list' anothers_account.username 'to-watch' %}')"
              title="{% translate 'To Watch' %}"
            >
              <input type="radio" :checked="listId == listToWatchId">
              {% translate 'To Watch' %}
            </label>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-12 mb-2">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
          <label
            class="btn btn-secondary" :class="{active: mode == 'full'}"
            @click="switchMode('full')"
            title="{% translate 'Mode' %}"
          >
            <input type="radio" :checked="mode == 'full'">
            {% translate 'Full' %}
          </label>
          <label
            class="btn btn-secondary" :class="{active: mode == 'compact'}"
            @click="switchMode('compact')"
            title="{% translate 'Mode' %}"
          >
            <input type="radio" :checked="mode == 'compact'">
            {% translate 'Compact' %}
          </label>
          <label
            class="btn btn-secondary" :class="{active: mode == 'minimal'}"
            @click="switchMode('minimal')"
            title="{% translate 'Mode' %}"
          >
            <input type="radio" :checked="mode == 'minimal'">
            {% translate 'Minimal' %}
          </label>
        </div>
      </div>
      <div class="col-sm-12 mb-2">
        {% if anothers_account %}
          <a class="gallery btn btn-secondary" href="{% url 'gallery' anothers_account.username list %}">
            {% translate 'Gallery' %}
          </a>
        {% else %}
          <a class="gallery btn btn-secondary" href="{% url 'gallery' list %}">{% translate 'Gallery' %}</a>
        {% endif %}
      </div>
      {% if anothers_account and user.is_authenticated %}
        <div class="col-sm-12 mb-2">
          <button
            class="btn btn-secondary" :class="{active: recommendations}"
            data-toggle="button"
            type="button"
            @click="toggleRecommendation"
          >
            {% translate 'Recommendations' %}
          </button>
        </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 col-xl-5">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label
            class="btn btn-secondary" :class="{active: sort == 'releaseDate'}"
            @click="switchSort('releaseDate')"
            title="{% translate 'Sort by release date' %}"
          >
            <input type="radio" :checked="sort == 'releaseDate'">
            {% translate 'Release date' %}
          </label>
          <label
            class="btn btn-secondary" :class="{active: sort == 'rating'}"
            @click="switchSort('rating')"
            title="{% translate 'Sort by rating' %}"
          >
            <input type="radio" :checked="sort == 'rating'">
            {% translate 'Rating' %}
          </label>
          <label
            class="btn btn-secondary" :class="{active: sort == 'additionDate'}"
            @click="switchSort('additionDate')"
            title="{% translate 'Sort by date added' %}"
          >
            <input type="radio" :checked="sort == 'additionDate'">
            {% translate 'Date added' %}
          </label>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <form action="" method="get" class="search">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="query">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">{% translate 'Search' %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% if query %}
      <h3>{{ query }}: <a href="{{ request.path }}"><font-awesome-icon icon="fa-solid fa-xmark" /></a></h3>
    {% endif %}
    <div class="results col-sm-12 col-md-10 col-lg-8" v-cloak>
      <div class="movie" :class="{'movie-minimal': mode == 'minimal'}" v-for="record in records">
        <div class="title">
          <span :title="record.movie.titleOriginal">[[ record.movie.title ]]</span>
          {% if not anothers_account %}
            <div class="remove-button">
              <a href="javascript:void(0)" @click="removeRecord(record)" title="{% translate 'Delete' %}">
                <font-awesome-icon icon="fa-solid fa-trash" />
              </a>
              <a
                href="javascript:void(0)"
                class="wall-post"
                @click="postToWall(record)"
                title="{% translate 'Post to the wall' %}"
                v-show="isVkApp"
              >
                <font-awesome-icon icon="fa-solid fa-share" />
              </a>
            </div>
          {% endif %}
          <div class="add-to-list-buttons">
            {% if anothers_account %}
              <div class="inline">
                <div class="inline" v-if="!record.listId">
                  <a
                    href="javascript:void(0)"
                    @click="addToList(record.movie.id, listWatchedId, record)"
                    title="{% translate 'Add to &quot;Watched&quot; list' %}"
                    v-show="record.movie.isReleased"
                  >
                    <font-awesome-icon icon="fa-solid fa-eye" />
                  </a>
                  <a href="javascript:void(0)"
                    @click="addToList(record.movie.id, listToWatchId, record)"
                    title="{% translate 'Add to &quot;To Watch&quot; list' %}"
                  >
                    <font-awesome-icon icon="fa-solid fa-eye-slash" />
                  </a>
                </div>
                <span v-show="record.listId == listWatchedId" >
                  <font-awesome-icon icon="fa-solid fa-eye" title="{% translate 'Watched' %}" />
                </span>
                <span v-show="record.listId == listToWatchId">
                  <font-awesome-icon icon="fa-solid fa-eye-slash" title="{% translate 'To Watch' %}" />
                </span>
              </div>
            {% else %}
              <div class="inline">
                <div v-if="listId == listToWatchId" class="inline">
                  <a
                    href="javascript:void(0)"
                    @click="addToList(record.movie.id, listWatchedId, record)"
                    title="{% translate 'Add to &quot;Watched&quot; list' %}"
                    v-show="record.movie.isReleased && !record.listId"
                  >
                    <font-awesome-icon icon="fa-solid fa-eye" />
                  </a>
                  <span>
                    <font-awesome-icon
                      icon="fa-solid fa-eye"
                      title="{% translate 'Watched' %}"
                      v-show="record.listId"
                    />
                  </span>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="poster" v-show="mode !='minimal'">
          <span v-if="mode == 'full'">
            <v-lazy-image
              class="poster-big"
              :srcset="getSrcSet(record.movie.posterNormal, record.movie.posterBig)"
              :src="record.movie.posterBig"
              :title="record.movie.titleOriginal"
              :alt="record.movie.title"
            />
          </span>
          <span v-else>
            <v-lazy-image
              class="poster-small"
              :srcset="getSrcSet(record.movie.posterSmall, record.movie.posterNormal)"
              :src="record.movie.posterNormal"
              :title="record.movie.titleOriginal"
              :alt="record.movie.title"
            />
          </span>
        </div>
        <div class="details" :class="{ 'details-minimal': mode == 'minimal'}">
          <div class="imdb-rating" v-show="record.movie.imdbRating">
            <span class="item-desc">{% translate 'IMDb Rating' %}:</span>
            [[ record.movie.imdbRating ]]
          </div>
          <div class="release-date" v-show="record.movie.isReleased">
            <span class="item-desc" v-show="mode != 'minimal'">{% translate 'Release Date' %}:</span>
            [[ record.movie.releaseDate ]]
          </div>
          <div v-show="mode == 'full'">
            <div v-show="record.movie.country">
              <span class="item-desc">{% translate 'Country' %}:</span>
              [[ record.movie.country ]]
            </div>
            <div v-show="record.movie.director">
              <span class="item-desc">{% translate 'Director' %}:</span>
              [[ record.movie.director ]]
            </div>
            <div v-show="record.movie.writer">
              <span class="item-desc">{% translate 'Writer' %}:</span>
              [[ record.movie.writer ]]
            </div>
            <div v-show="record.movie.genre">
              <span class="item-desc">{% translate 'Genre' %}:</span>
              [[ record.movie.genre ]]
            </div>
            <div v-show="record.movie.actors">
              <span class="item-desc">{% translate 'Actors' %}:</span>
              [[ record.movie.actors ]]
            </div>
            <div v-show="record.movie.runtime">
              <span class="item-desc">{% translate 'Runtime' %}:</span>
              [[ record.movie.runtime ]]
            </div>
            <div v-show="record.movie.overview">
              <span class="item-desc">{% translate 'Overview' %}:</span>
              [[ record.movie.overview ]]
            </div>
            <div v-show="record.movie.homepage">
              <a :href="record.movie.homepage" target="_blank">{% translate 'Website' %}</a>
            </div>
            <div class="urls">
              <a :href="record.movie.imdbUrl" target="_blank"><span class="imdb"></span></a>
              <a :href="record.movie.tmdbUrl" target="_blank"><span class="tmdb"></span></a>
            </div>
            <div v-show="record.movie.trailers.length">
              <span class="item-desc">{% translate 'Trailers' %}:</span>
              <div class="trailers">
                <a :href="trailer.url" target="_blank" v-for="trailer in record.movie.trailers">[[ trailer.name ]]</a>
              </div>
            </div>
            <div v-show="record.providerRecords.length">
              <span class="item-desc">{% translate 'Stream on' %}:</span>
              <div>
                <a
                  :href="providerRecord.tmdbWatchUrl"
                  target="_blank"
                  v-for="providerRecord in record.providerRecords"
                >
                  <v-lazy-image
                    class="provider"
                    :src="providerRecord.provider.logo"
                    :title="providerRecord.provider.name"
                    :alt="providerRecord.provider.name"
                  />
                </a>
              </div>
            </div>
            <br>
          </div>
          <div class="review" :class="{'review-minimal': mode == 'minimal'}">
            {% if list == 'watched' %}
              <div class="rating" :data-record-id="record.id" :data-rating="record.rating"></div>
              <div class="comment" v-show="(record.comment || record.commentArea) && mode != 'minimal'">
                {% if anothers_account %}
                  <p>[[ record.comment ]]</p>
                {% else %}
                  <div>
                    <textarea class="form-control" title="{% translate 'Comment' %}" v-model="record.comment">
                    </textarea>
                  </div>
                  <br>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    @click="saveComment(record)"
                    title="{% translate 'Save' %}"
                  >
                    <font-awesome-icon icon="fa-solid fa-save" />
                  </button>
                {% endif %}
              </div>
              {% if not anothers_account %}
                <button
                  type="button"
                  class="btn btn-secondary comment-button"
                  @click="showCommentArea(record)"
                  title="{% translate 'Add comment' %}"
                  v-show="record.comment == '' && !record.commentArea && mode != 'minimal'"
                >
                  <font-awesome-icon icon="fa-solid fa-comment" />
                </button>
                <div v-show="mode == 'full'">
                  <div>
                    <label :for="'original_' + record.id">{% translate 'Watched original version' %}</label>
                    <input
                      :id="'original_' + record.id"
                      type="checkbox"
                      @change="saveOptions(record)"
                      v-model="record.options.original"
                    >
                  </div>
                  <div>
                    <label :for="'extended_' + record.id">{% translate 'Watched extended version' %}</label>
                    <input
                      :id="'extended_' + record.id"
                      type="checkbox"
                      @change="saveOptions(record)"
                      v-model="record.options.extended"
                    >
                  </div>
                  <div>
                    <label :for="'theatre_' + record.id">{% translate 'Watched in theatre' %}</label>
                    <input
                      :id="'theatre_' + record.id"
                      type="checkbox"
                      @change="saveOptions(record)"
                      v-model="record.options.theatre"
                    >
                  </div>
                  <div>
                    <label :for="'hd_' + record.id">{% translate 'Watched in HD' %}</label>
                    <input
                      :id="'hd_' + record.id"
                      type="checkbox"
                      @change="saveOptions(record)"
                      v-model="record.options.hd"
                    >
                  </div>
                  <div>
                    <label :for="'full_hd_' + record.id">{% translate 'Watched in FullHD' %}</label>
                    <input
                      :id="'full_hd_' + record.id"
                      type="checkbox"
                      @change="saveOptions(record)"
                      v-model="record.options.fullHd"
                    >
                  </div>
                  <div>
                    <label :for="'4k_' + record.id">{% translate 'Watched in 4K' %}</label>
                    <input
                      :id="'4k_' + record.id"
                      type="checkbox"
                      @change="saveOptions(record)"
                      v-model="record.options.ultraHd"
                    >
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="clearfix"></div>
        {% comment %} {% if list == 'to-watch' and not anothers_account %}
            {% include 'includes/reviews.html' %}
          {% endif %} {% endcomment %}
      </div>
      {% if records.has_other_pages %}
        {% bootstrap_paginate records range=5 show_prev_next='true' show_first_last='true' alignment='left' %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    vars.records = JSON.parse('{{ record_objects|escapejs|safe }}');
    vars.mode = '{{ request.session.mode }}';
    vars.listId = {{ list_id }};
    vars.sort = '{{ sort }}';
    vars.recommendations = {{ request.session.recommendations|yesno:'true,false' }};
    vars.isAnothersAccount = {{ anothers_account|yesno:'true,false' }};
    urls.changeRating = '{% url 'change_rating' %}';
    urls.removeRecord = '{% url 'remove_record' %}';
    urls.saveSettings = '{% url 'save_settings' %}';
    urls.record = '{% url 'record' %}';
    urls.addToList = '{% url 'add_to_list' %}';
    urls.saveComment = '{% url 'save_comment' %}';
    urls.uploadPosterToWall = '{% url 'upload_poster_to_wall' %}';
  </script>
  <script src="{% static 'js/list.js' %}"></script>
{% endblock %}
