{% extends 'base.html' %}

{% block content %}
  <div class="results col-sm-12 col-md-10 col-lg-8">
    {% for record in records %}
      <div id="record{{ record.id }}" data-id="{{ record.id }}" class="movie">
        <div class="title">
          <span title="{{ record.movie.title_original }}">{{ record.movie.title }}</span>
          <div class="add-to-list-buttons">
            {% include 'includes/add_to_list_buttons.html' %}
          </div>
        </div>
        <div class="poster">
          <img src="{{ record.movie.poster_normal }}" data-rjs="{{ record.movie.poster_big }}"
               alt="{{ record.movie.title }}" title="{{ record.movie.title_original }}" loading="lazy"/>
        </div>
        <div class="details">
          {% if record.movie.imdb_rating %}
            <div class="imdb-rating">
              <span class="item-desc">{% trans 'IMDb Rating' %}:</span> {{ record.movie.imdb_rating }}
            </div>
          {% endif %}
          {% if record.movie.release_date %}
            <div class="release-date">
              <span class="release-date-label item-desc">{% trans 'Release Date' %}:</span> {{ record.movie.release_date }}
            </div>
          {% endif %}
          {% if record.movie.country %} <span class="item-desc">{% trans 'Country' %}:</span>
            {{ record.movie.country }}<br>
          {% endif %}
          {% if record.movie.director %} <span class="item-desc">{% trans 'Director' %}:</span>
            {{ record.movie.director }}<br>
          {% endif %}
          {% if record.movie.writer %} <span class="item-desc">{% trans 'Writer' %}:</span> {{ record.movie.writer }}
            <br>
          {% endif %}
          {% if record.movie.genre %} <span class="item-desc">{% trans 'Genre' %}:</span> {{ record.movie.genre }}
            <br>
          {% endif %}
          {% if record.movie.actors %} <span class="item-desc">{% trans 'Actors' %}:</span> {{ record.movie.actors }}
            <br>
          {% endif %}
          {% if record.movie.runtime %} <span class="item-desc">{% trans 'Runtime' %}:</span>
            {{ record.movie.runtime|date:'H:i' }}<br>
          {% endif %}
          {% if record.movie.description %} <span class="item-desc">{% trans 'Description' %}:</span>
            {{ record.movie.description }}<br>
          {% endif %}
          {% if record.movie.homepage %}
            <a href="{{ record.movie.homepage }}" target="_blank">{% trans 'Website' %}</a><br>
          {% endif %}
          <div class="urls">
            <a href="{{ record.movie.imdb_url }}" target="_blank"><span class="imdb"></span></a>
            <a href="{{ record.movie.tmdb_url }}" target="_blank"><span class="tmdb"></span></a>
          </div>
          {% if record.movie.has_trailers %}
            <span class="item-desc">{% trans 'Trailers' %}:</span><br>
            <div class="trailers">
              {% for trailer in record.movie.get_trailers %}
                <a href="{{ trailer.url }}" target="_blank">{{ trailer.name }}</a>
              {% endfor %}
            </div>
          {% endif %}
          <br>
        </div>
        <div class="clearfix"></div>
        <br>
        {% include 'includes/reviews.html' %}
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.addToList = '{% url 'add_to_list' %}';
  </script>
  <script src="{% static 'js/recommendations.js' %}"></script>
{% endblock %}
