{% extends 'registration/registration_base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
  <form method="post" id="password-change" class="form-horizontal col-sm-5 col-md-5 col-lg-5 col-xl-3">
    {% csrf_token %}
    {% include 'includes/form_errors.html' %}
    <div class="form-group">
      <input type="email" class="form-control" name="email" required autofocus
             placeholder="{% trans 'Email' %}">
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2">
        <button class="btn btn-block btn-primary">{% trans 'Reset my password' %}</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script src="{% static 'js/emptyApp.js' %}"></script>
{% endblock %}
