{% extends 'registration/registration_base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
  {% if validlink %}
    <form method="post" id="password-change" class="form-horizontal col-sm-8 col-md-6 col-lg-6 col-xl-5 mx-auto">
      {% csrf_token %}
      {% include 'includes/form_errors.html' %}
      <div class="form-group">
        <input type="password" class="form-control" id="new_password1" name="new_password1" required
          placeholder="{% translate 'New password' %}">
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2">
          <button class="btn btn-block btn-primary">{% translate 'Change my password' %}</button>
        </div>
      </div>
      <input type="hidden" name="new_password2" id="new_password2">
    </form>
  {% else %}
    <p>
      {% blocktranslate %}
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/passwordChange.js' %}"></script>
{% endblock %}
