{% extends 'registration/registration_base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Registration' %}{% endblock %}

{% block content %}
  <form id="registration" method="post" action="" class="form-horizontal col-sm-8 col-md-6 col-lg-6 col-xl-5 mx-auto">
    {% csrf_token %}
    {% include 'includes/form_errors.html' %}
    <div class="form-group">
      <input type="text" class="form-control" name="username" required {% if form.username.value %}
             value="{{ form.username.value }}" {% endif %} autofocus placeholder="{% trans 'Username' %}">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="email" required {% if form.email.value %}
             value="{{ form.email.value }}" {% endif %} placeholder="{% trans 'Email' %}">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password1" name="password1" required
             placeholder="{% trans 'Password' %}">
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2">
        <button class="btn btn-block btn-primary">{% trans 'Register' %}</button>
      </div>
    </div>
    <input type="hidden" name="password2" id="password2">
  </form>
{% endblock %}

{% block js %}
  <script src="{% static 'js/registration.js' %}"></script>
{% endblock %}
