{% load menu %}{% generate_menu %}

<!DOCTYPE html>
<head>
  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <link rel="stylesheet" href="/static/libs/jquery_jgrowl/jquery.jgrowl.css" />
  <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/static/graphics/font-awesome/css/font-awesome.min.css">
  <link href="/static/css/bootstrap_fix.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/static/css/style.css" />

  {% if user.is_vk_user %} <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script> {% endif %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/static/libs/jquery_jgrowl/jquery.jgrowl.min.js"></script>

  {# <link href="/static/libs/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> #}
  <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>

  <script src="/static/libs/spin_js/spin.min.js"></script>
  <script src="/static/libs/spin_js/jquery.spin.js"></script>

  <script src="/static/js/main.js"></script>
  <script src="/static/js/ajax_loading.js"></script>

  <script src="/static/js/analytics.js"></script>
  {% if user.is_vk_user %}
    <script src="/static/js/vk.js"></script>
  {% endif %}

  <meta charset="utf-8">
  <title>{% block title %}Movies{% endblock %}</title>
</head>
<body>
  <div {% if user.is_vk_user %} class="vk" {% endif %}>
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand active" href="/">Movies</a>
        <ul class="nav">
          {% for item in menus.main %}
          {% if item.separator %}<li class="divider-vertical"></li>{% endif %}
          <li class="{% if item.selected %} active{% endif %}{% if item.children %} dropdown{% endif %}" id="top-menu-{{ item.slug }}">
              {% if item.children %}
              <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }}&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  {% for child in item.children %}<li{% if child.selected %} class="active"{% endif %}><a href="{{ child.url }}">{{ child.title }}</a></li>{% endfor %}
              </ul>
              {% else %}
              <a href="{{ item.url }}">{% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }}</a>
              {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% if not user.is_vk_user %}
          <ul class="nav pull-right">
            <li><a href="/logout">Выход</a></li>
          </ul>
        {% endif %}
        <ul class="nav pull-right">
          <li><div id="loading"></div></li>
        </ul>
      </div>
  </div>
  <div id="content">
      {% block content %}{% endblock %}
  </div>
  </div>
</body>