<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/style.css" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link rel="stylesheet" href="/static/libs/jquery_jgrowl/jquery.jgrowl.css" />
<script src="/static/libs/jquery_jgrowl/jquery.jgrowl.min.js"></script>

<script src="/static/js/main.js"></script>
<meta charset="utf-8">
<title>{% block title %}Фильмы{% endblock %}</title>

{% block menu %}
    <div class="login_panel">
        <a href="/logout">Выход</a>
    </div>
    <div class="sidebar">
        <a href="{% url 'movies.views.list' list='watched' %}">Просмотренные</a><br>
        <a href="{% url 'movies.views.list' list='to-watch' %}">Хочу посмотреть</a><br>
    </div>

    <div class="menu">
        <a href="{% url 'movies.views.search' %}">Поиск фильма</a><br>
        <a href="{% url 'movies.views.people' %}">Люди</a><br>
    </div>
{% endblock %}

<div id="content">
    {% block content %}{% endblock %}
</div>