{% extends "base.html" %}

{% block content %}
<script src="/static/libs/raty/jquery.raty.min.js"></script>
<script>
  var mode = '{{ mode }}';
  var sort = '{{ sort }}';
  var list_data = $.parseJSON('{{ list_data|safe }}');

  {% if anothers_account %}
    var anothers_account = true;
  {% else %}
    var anothers_account = false;
  {% endif %}

  var url_ajax_change_rating = '{% url 'movies.views.ajax_change_rating' %}';
  var url_ajax_remove_record = '{% url 'movies.views.ajax_remove_record' %}';
  var url_ajax_apply_setting = '{% url 'movies.views.ajax_apply_setting' %}';
  var url_ajax_add_to_list   = '{% url 'movies.views.ajax_add_to_list' %}';
  var url_ajax_save_comment  = '{% url 'movies.views.ajax_save_comment' %}';
</script>
<script src="/static/js/list.js"></script>

<div id="movie-count">
  {% if not anothers_account %}
    {{ user.get_movie_count }}
  {% else %}
    {{ anothers_account.get_movie_count }}
  {% endif %}
</div>

{% if anothers_account %}
  <h3>{{ anothers_account.get_full_name }}</h3>
  <div class="btn-group" data-toggle="buttons-radio">
    <a href="watched" class="btn {% ifequal list_id 1 %} active {% endifequal %}">Смотрел</a><a href="to-watch" class="btn {% ifequal list_id 2 %} active {% endifequal %}">Хочет посмотреть</a>
  </div>
  <br><br>
{% endif %}

<div class="btn-group" data-toggle="buttons-radio">
  <button title="режим" id="button_mode_full" type="button" class="btn" onclick="switch_mode('full')">Полный</button>
  <button title="режим" id="button_mode_compact" type="button" class="btn" onclick="switch_mode('compact')">Компактный</button>
</div>

<div class="btn-group" data-toggle="buttons-radio">
  <button title="сортировка" id="button_sort_release_date" type="button" class="btn" onclick="switch_sort('release_date')">Дата выпуска</button>
  <button title="сортировка" id="button_sort_rating" type="button" class="btn" onclick="switch_sort('rating')">Оценка</button>
  <button title="сортировка" id="button_sort_addition_date" type="button" class="btn" onclick="switch_sort('addition_date')">Дата добавления</button>
</div>

<br><br>
<div id="results" class="results">
  {% if records %}
    {% for record in records %}
      <div id="record{{ record.id }}" data-id="{{ record.id }}" class="movie">
          <div class="title">
           {{ record.movie.title }} {% if not anothers_account %}<a href="javascript:remove_record({{ record.id }})"><i class="icon-trash"></i></a> {% endif %}</div>
          <div class="poster">
              <img src="{% ifequal mode 'full' %}{{ record.movie.poster_big_url }}{% else %}{{ record.movie.poster_small_url }}{% endifequal %}" alt="{{ record.movie.title }} poster"/>
          </div>
          <div class="details">
            {% if record.movie.imdb_rating %} <strong>IMDb рейтинг:</strong> {{ record.movie.imdb_rating }}<br> {% endif %}
            {% if record.movie.release_date %} <strong>Дата выпуска:</strong> {{ record.movie.release_date|date:'d.m.y' }}<br> {% endif %}
            {% ifequal mode 'full' %}
                {% if record.movie.director %} <strong>Режиссёр:</strong> {{ record.movie.director }}<br> {% endif %}
                {% if record.movie.writer %} <strong>Сценарист:</strong> {{ record.movie.writer }}<br> {% endif %}
                {% if record.movie.genre %} <strong>Жанр:</strong> {{ record.movie.genre }}<br> {% endif %}
                {% if record.movie.actors %} <strong>Актеры:</strong> {{ record.movie.actors }}<br> {% endif %}
                {% if record.movie.trailers %} <strong>Трейлеры:</strong><br>
                  <div class="trailers">
                  {% if record.movie.trailers.youtube %}
                    &nbsp;&nbsp;&nbsp;&nbsp;YouTube:
                      {% for trailer in record.movie.trailers.youtube %}
                        <a href="http://www.youtube.com/watch?v={{ trailer.source }}" target="_blank">{{ trailer.name }}</a>
                      {% endfor %}
                    <br>
                  {% endif %}
                  {% if record.movie.trailers.quicktime %}
                    &nbsp;&nbsp;&nbsp;&nbsp;QuickTime:
                    <ul>
                      {% for trailer in record.movie.trailers.quicktime %}
                        <li>{{ trailer.name }}:
                          {% for size in trailer.sizes %}
                            <a href="{{ size.source }}" target="_blank">{{ size.size }}</a>
                          {% endfor %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                  </div>
                {% endif %}
            {% if record.movie.homepage %} <a href="{{ record.movie.homepage }}" target="_blank">Сайт</a> / {% endif %}
            <a href="{{ record.movie.imdb_url }}" target="_blank"><img src="/static/img/imdb.jpg" alt="IMDb" /></a><br>
            <br>
            {# {% if record.movie.plot %} Описание: {{ record.movie.plot }}<br> {% endif %} #}
            {% endifequal %}
            <div class="review {% ifequal mode 'full' %} full {% endifequal %}">
              {% ifequal list_id 1 %}
                <strong>Оценка:</strong> <div class="rating" data-record_id="{{ record.id }}" data-rating="{{ record.rating }}"></div>
                <div id="comment_area{{ record.id }}" style="display: {% if not record.comment %} none {% endif %}">
                  <strong>Комментарий:</strong>
                  {% if not anothers_account %}
                    <textarea rows="2" cols="15" id="comment{{ record.id }}">{{ record.comment }}</textarea>
                    <input type="button" class="btn" value="Сохранить" onclick="save_comment({{ record.id }})" /><br>
                  {% else %}
                    <p>{{ record.comment }}</p>
                  {% endif %}
                </div>
                {% if not anothers_account %}
                  <input id="comment_area_button{{ record.id }}" type="button" class="btn" value="Добавить комментарий" onclick="toggle_comment_area({{ record.id }})" style="display: {% if record.comment %} none {% endif %}" />
                {% endif %}
                  <br>
              {% endifequal %}
            </div>
          </div>
          <div class="buttons">
          {% if not anothers_account %}
            {% ifequal list_id 2 %}
              <input type="button" class="btn" value="Посмотрел" onclick="add_to_list({{ record.movie_id }}, 1, {{ record.id }})" />
            {% endifequal %}
          {% else %}
                <input type="button" class="btn" value="Смотрел" onclick="add_to_list({{ record.movie_id }}, 1, {{ record.id }})" />
                <input type="button" class="btn" value="Хочу посмотреть" onclick="add_to_list({{ record.movie_id }}, 2, {{ record.id }})" />
          {% endif %}
          </div>
        </div>
    {% endfor %}
  {% else %}
    <p>Список пуст.</p>
  {% endif %}
</div>

{% endblock %}