{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load set_var %}

{% block content %}
<script src="/static/libs/raty/jquery.raty.min.js"></script>
<script src="/static/libs/jquery.autosize.min.js"></script>
<script>
  var mode = '{{ request.session.mode }}';
  var sort = '{{ request.session.sort }}';
  var list_data = $.parseJSON('{{ list_data|safe }}');
  var list_id = {{ list_id }};

  var recommendation = false;
  {% if request.session.recommendation %}
    recommendation = true;
  {% endif %}

  var anothers_account = false;
  {% if anothers_account %}
    anothers_account = true;
  {% endif %}

  var raty_readonly = false;
  if (anothers_account || list_id == 2) {
    raty_readonly = true;
  }

  var url_ajax_change_rating = '{% url 'movies.views.ajax_change_rating' %}';
  var url_ajax_remove_record = '{% url 'movies.views.ajax_remove_record' %}';
  var url_ajax_apply_settings = '{% url 'movies.views.ajax_apply_settings' %}';
  var url_ajax_add_to_list   = '{% url 'movies.views.ajax_add_to_list' %}';
  var url_ajax_save_comment  = '{% url 'movies.views.ajax_save_comment' %}';
  var url_ajax_download = '{% url 'movies.views.ajax_download' %}';
  var url_ajax_upload_photo_to_wall = '{% url 'movies.views.ajax_upload_photo_to_wall' %}';
</script>
<script src="/static/js/list_general.js"></script>
<script src="/static/js/raty.js"></script>
<script src="/static/js/list.js"></script>
<div id="movie-count">
  {{ movie_count|safe }}
  {% if anothers_account %}
    <br>
    <img class="avatar" src="{{ anothers_account.get_avatar_medium }}" alt="{{ anothers_account.get_full_name }}" title="{{ anothers_account.get_full_name }}">
  {% endif %}
</div>

{% if anothers_account %}
  <div class="btn-group" data-toggle="buttons-radio">
    <a href="watched" class="btn {% ifequal list_id 1 %} active {% endifequal %}">Просмотрено</a><a href="to-watch" class="btn {% ifequal list_id 2 %} active {% endifequal %}">К просмотру</a>
  </div>
  <br><br>
{% endif %}

<div class="btn-group" data-toggle="buttons-radio">
  <button title="Режим" id="button_mode_full" type="button" class="btn" onclick="switch_mode('full')">Полный</button>
  <button title="Режим" id="button_mode_compact" type="button" class="btn" onclick="switch_mode('compact')">Компактный</button>
  <button title="Режим" id="button_mode_minimal" type="button" class="btn" onclick="switch_mode('minimal')">Минимальный</button>
</div>

{% if anothers_account %}
  <button id="button_recommendation" type="button" class="btn" data-toggle="button" onclick="toggle_recommendation()">Рекомендации</button>
{% endif %}
<br><br>
<div class="btn-group" data-toggle="buttons-radio">
  <button title="Сортировка" id="button_sort_release_date" type="button" class="btn" onclick="switch_sort('release_date')">Дата выпуска</button>
  <button title="Сортировка" id="button_sort_rating" type="button" class="btn" onclick="switch_sort('rating')">Оценка</button>
  <button title="Сортировка" id="button_sort_addition_date" type="button" class="btn" onclick="switch_sort('addition_date')">Дата добавления</button>
</div>
<form action="" method="post" class="search">
  {% csrf_token %}
  <div class="input-append">
    <input class="span2" name="search" type="text">
    <button class="btn" type="submit">Найти</button>
  </div>
</form>
<br><br>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Торренты</h3>
  </div>
  <div class="modal-body">
    <div id="torrents"></div>
  </div>
</div>
<div id="results" class="results">
  {% if records %}
    {% for record in records %}
      {% ifequal user.preferences.lang 'en' %}
        {% set title = record.movie.title %}
        {% set poster_small_url = record.movie.poster_en_small_url %}
        {% set poster_normal_url = record.movie.poster_en_normal_url %}
      {% else %}
        {% set title = record.movie.title_ru %}
        {% set poster_small_url = record.movie.poster_ru_small_url %}
        {% set poster_normal_url = record.movie.poster_ru_normal_url %}
      {% endifequal %}
      <div id="record{{ record.id }}" data-id="{{ record.id }}" data-title="{{ title }}" class="movie">
        <div class="title">
          {{ title }}
          {% if not anothers_account %}
            <a href="#" title="Удалить" onlick="remove_record({{ record.id }})"><i class="fa fa-trash-o"></i></a>
            <a href="#" class="wall-post" title="Отправить на стену" onclick="post_to_wall({{ record.id }})"><i class="fa fa-share"></i></a>
          {% endif %}
          <a href="#" onclick="show_torrents('{{ record.movie.torrent_search_title }}')" title="Скачать"><i class="fa fa-download"></i></a>
          <div class="add-to-list-buttons">
            {% if not anothers_account %}
              {% ifequal list_id 2 %}
                {% include 'includes/add_to_watched_list_button.html' %}
              {% endifequal %}
            {% else %}
              {% include 'includes/add_to_list_buttons.html' %}
            {% endif %}
          </div>
        </div>
          <div class="poster">
              <img src="{% ifequal request.session.mode 'full' %}{{ poster_normal_url }}{% else %}{{ poster_small_url }}{% endifequal %}" alt="{{ title }} poster"/>
          </div>
          <div class="details">
            {% if record.movie.imdb_rating %}<div class="imdb_rating" title="Рейтинг"><span class="item-desc">IMDb:</span> {{ record.movie.imdb_rating }}</div> {% endif %}
            {% if record.movie.release_date %}<div class="release_date" title="Дата выпуска"><span class="release_date_label item-desc">Дата:</span> {{ record.movie.release_date|date:'d.m.y' }}</div>{% endif %}
            {% ifequal request.session.mode 'full' %}
                {% if record.movie.country %} <span class="item-desc">Страна:</span> {{ record.movie.country }}<br> {% endif %}
                {% if record.movie.director %} <span class="item-desc">Режиссёр:</span> {{ record.movie.director }}<br> {% endif %}
                {% if record.movie.writer %} <span class="item-desc">Сценарист:</span> {{ record.movie.writer }}<br> {% endif %}
                {% if record.movie.genre %} <span class="item-desc">Жанр:</span> {{ record.movie.genre }}<br> {% endif %}
                {% if record.movie.actors %} <span class="item-desc">Актеры:</span> {{ record.movie.actors }}<br> {% endif %}
                {% if record.movie.runtime %} <span class="item-desc">Время:</span> {{ record.movie.runtime|date:'H:i' }}<br> {% endif %}
                {% if record.movie.overview %} <span class="item-desc">Описание:</span> {{ record.movie.overview }}<br> {% endif %}
                {% if record.movie.has_trailers %} <span class="item-desc">Трейлеры:</span><br>
                  <div class="trailers">
                  {% if record.movie.trailers.youtube %}
                    &nbsp;&nbsp;&nbsp;&nbsp;YouTube:
                      {% for trailer in record.movie.trailers.youtube %}
                        <a href="http://www.youtube.com/watch?v={{ trailer.source }}" target="_blank">{{ trailer.name }}</a>
                      {% endfor %}
                    <br>
                  {% endif %}
                  {% if record.movie.trailers.quicktime %}
                    &nbsp;&nbsp;&nbsp;&nbsp;QuickTime:
                    <ul>
                      {% for trailer in record.movie.trailers.quicktime %}
                        <li>{{ trailer.name }}:
                          {% for size in trailer.sizes %}
                            <a href="{{ size.source }}" target="_blank">{{ size.size }}</a>
                          {% endfor %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                  </div>
                {% endif %}
            {% if record.movie.homepage %} <a href="{{ record.movie.homepage }}" target="_blank">Сайт</a> / {% endif %}
            <a href="{{ record.movie.imdb_url }}" target="_blank"><img src="/static/img/imdb.jpg" alt="IMDb" /></a><br>
            <br>
            {% endifequal %}
            <div class="review {% ifequal request.session.mode 'full' %} full {% endifequal %}">
              {% ifequal list_id 1 %}
                <div class="rating" data-record_id="{{ record.id }}" data-rating="{{ record.rating }}"></div>
                <div class="comment" id="comment_area{{ record.id }}" style="display: {% if not record.comment %} none {% endif %}">
                  {% if not anothers_account %}
                    <textarea title="комментарий" id="comment{{ record.id }}">{{ record.comment }}</textarea>
                    <button type="button" title="Сохранить" class="btn" onclick="save_comment({{ record.id }})"><i class="fa fa-save"></i></button>
                    <br>
                  {% else %}
                    <p>{{ record.comment }}</p>
                  {% endif %}
                </div>
                {% if not anothers_account %}
                  <button id="comment_area_button{{ record.id }}" type="button" title="Добавить комментарий" class="btn comment-button" onclick="toggle_comment_area({{ record.id }})" {% if record.comment %} style="display: none "{% endif %}><i class="fa fa-comment"></i></button>
                {% endif %}
                  <br>
              {% endifequal %}
            </div>
          </div>
          <div class="clearfix"></div>
          {% if list_id == 2 and not anothers_account %}
            {% include 'includes/reviews.html' %}
          {% endif %}
        </div>
    {% endfor %}
  {% if records.has_other_pages %}
    {% bootstrap_paginate records range=10 show_prev_next="true" show_first_last="true" alignment="left" %}
  {% endif %}
  {% else %}
    <p>Список пуст.</p>
  {% endif %}
</div>

{% endblock %}