{% extends "base.html" %}
{% load bootstrap_pagination %}
{% load functions %}

{% block content %}
<script src="/static/libs/raty/jquery.raty.min.js"></script>
<script>
  var mode = '{{ request.session.mode }}';
  var sort = '{{ request.session.sort }}';
  var list_data = $.parseJSON('{{ list_data|safe }}');
  var list_id = {{ list_id }};

  var recommendation = false;
  {% if request.session.recommendation %}
    recommendation = true;
  {% endif %}

  var anothers_account = false;
  {% if anothers_account %}
    anothers_account = true;
  {% endif %}

  var raty_readonly = false;
  if (anothers_account || list_id == 2) {
    raty_readonly = true;
  }

  var url_ajax_change_rating = '{% url 'movies.views.ajax_change_rating' %}';
  var url_ajax_remove_record = '{% url 'movies.views.ajax_remove_record' %}';
  var url_ajax_apply_settings = '{% url 'movies.views.ajax_apply_settings' %}';
  var url_ajax_add_to_list   = '{% url 'movies.views.ajax_add_to_list' %}';
  var url_ajax_save_comment  = '{% url 'movies.views.ajax_save_comment' %}';
  var url_ajax_download = '{% url 'movies.views.ajax_download' %}';
  var url_ajax_upload_photo_to_wall = '{% url 'movies.views.ajax_upload_photo_to_wall' %}';

</script>
<script src="/static/js/list_general.js"></script>
<script src="/static/js/raty.js"></script>
<script src="/static/js/list.js"></script>
<div id="movie-count">
  {{ movie_count|safe }}
  {% if anothers_account %}
    <br>
    <img src="{{ anothers_account.get_avatar_medium }}" alt="{{ anothers_account.get_full_name }}" title="{{ anothers_account.get_full_name }}">
  {% endif %}
</div>

{% if anothers_account %}
  <div class="btn-group" data-toggle="buttons-radio">
    <a href="watched" class="btn {% ifequal list_id 1 %} active {% endifequal %}">Просмотрено</a><a href="to-watch" class="btn {% ifequal list_id 2 %} active {% endifequal %}">К просмотру</a>
  </div>
  <br><br>
{% endif %}

<div class="btn-group" data-toggle="buttons-radio">
  <button title="Режим" id="button_mode_full" type="button" class="btn" onclick="switch_mode('full')">Полный</button>
  <button title="Режим" id="button_mode_compact" type="button" class="btn" onclick="switch_mode('compact')">Компактный</button>
  <button title="Режим" id="button_mode_minimal" type="button" class="btn" onclick="switch_mode('minimal')">Минимальный</button>
</div>

{% if anothers_account %}
  <button id="button_recommendation" type="button" class="btn" data-toggle="button" onclick="toggle_recommendation()">Рекомендации</button>
{% endif %}
<br><br>
<div class="btn-group" data-toggle="buttons-radio">
  <button title="Сортировка" id="button_sort_release_date" type="button" class="btn" onclick="switch_sort('release_date')">Дата выпуска</button>
  <button title="Сортировка" id="button_sort_rating" type="button" class="btn" onclick="switch_sort('rating')">Оценка</button>
  <button title="Сортировка" id="button_sort_addition_date" type="button" class="btn" onclick="switch_sort('addition_date')">Дата добавления</button>
</div>

<br><br>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Торренты</h3>
  </div>
  <div class="modal-body">
    <div id="torrents"></div>
  </div>
</div>
<div id="results" class="results">
  {% if records %}
    {% for record in records %}
      <div id="record{{ record.id }}" data-id="{{ record.id }}" data-title="{{ record.movie.title_ru }}" class="movie">
          <div class="title">
           {{ record.movie.title_ru }} {% if not anothers_account %}<a href="javascript:remove_record({{ record.id }})" title="Удалить"><i class="icon-trash"></i></a> {% endif %}
           <a href="javascript:show_torrents('{{ record.movie.torrent_search_title }}')" title="Скачать"><i class="icon-download-alt"></i></a>
         </div>
          <div class="poster">
              <img src="{% ifequal request.session.mode 'full' %}{{ record.movie.poster_big_url }}{% else %}{{ record.movie.poster_small_url }}{% endifequal %}" alt="{{ record.movie.title_ru }} poster"/>
          </div>
          <div class="details">
            {% if record.movie.release_date %}<div class="release_date" title="Дата выпуска"><strong class="release_date_label">Дата:</strong> {{ record.movie.release_date|date:'d.m.y' }}</div>{% endif %}
            {% if record.movie.imdb_rating %}<div class="imdb_rating" title="Рейтинг"><strong>IMDb:</strong> {{ record.movie.imdb_rating }}</div> {% endif %}
            {% ifequal request.session.mode 'full' %}
                {% if record.movie.director %} <strong>Режиссёр:</strong> {{ record.movie.director }}<br> {% endif %}
                {% if record.movie.writer %} <strong>Сценарист:</strong> {{ record.movie.writer }}<br> {% endif %}
                {% if record.movie.genre %} <strong>Жанр:</strong> {{ record.movie.genre }}<br> {% endif %}
                {% if record.movie.actors %} <strong>Актеры:</strong> {{ record.movie.actors }}<br> {% endif %}
                {% if record.movie.runtime %} <strong>Время:</strong> {{ record.movie.runtime|date:'H:i' }}<br> {% endif %}
                {% if record.movie.overview %} <strong>Описание:</strong> {{ record.movie.overview }}<br> {% endif %}
                {% if record.movie.has_trailers %} <strong>Трейлеры:</strong><br>
                  <div class="trailers">
                  {% if record.movie.trailers.youtube %}
                    &nbsp;&nbsp;&nbsp;&nbsp;YouTube:
                      {% for trailer in record.movie.trailers.youtube %}
                        <a href="http://www.youtube.com/watch?v={{ trailer.source }}" target="_blank">{{ trailer.name }}</a>
                      {% endfor %}
                    <br>
                  {% endif %}
                  {% if record.movie.trailers.quicktime %}
                    &nbsp;&nbsp;&nbsp;&nbsp;QuickTime:
                    <ul>
                      {% for trailer in record.movie.trailers.quicktime %}
                        <li>{{ trailer.name }}:
                          {% for size in trailer.sizes %}
                            <a href="{{ size.source }}" target="_blank">{{ size.size }}</a>
                          {% endfor %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                  </div>
                {% endif %}
            {% if record.movie.homepage %} <a href="{{ record.movie.homepage }}" target="_blank">Сайт</a> / {% endif %}
            <a href="{{ record.movie.imdb_url }}" target="_blank"><img src="/static/img/imdb.jpg" alt="IMDb" /></a><br>
            <br>
            {# {% if record.movie.plot %} Описание: {{ record.movie.plot }}<br> {% endif %} #}
            {% endifequal %}
            <div class="review {% ifequal request.session.mode 'full' %} full {% endifequal %}">
              {% ifequal list_id 1 %}
                <strong class="rating_label">Оценка:</strong> <div class="rating" data-record_id="{{ record.id }}" data-rating="{{ record.rating }}"></div>
                <div class="comment" id="comment_area{{ record.id }}" style="display: {% if not record.comment %} none {% endif %}">
                  <strong>Комментарий:</strong>
                  {% if not anothers_account %}
                    <textarea rows="2" cols="15" id="comment{{ record.id }}">{{ record.comment }}</textarea>
                    <button type="button" title="Сохранить" class="btn" onclick="save_comment({{ record.id }})"><i class="icon-save"></i></button>
                    <br>
                  {% else %}
                    <p>{{ record.comment }}</p>
                  {% endif %}
                </div>
                {% if not anothers_account %}
                  <button id="comment_area_button{{ record.id }}" type="button" title="Добавить комментарий" class="btn comment-button" onclick="toggle_comment_area({{ record.id }})" {% if record.comment %} style="display: none "{% endif %}><i class="icon-comment"></i></button>
                  <button class="wall-post btn" type="button" title="Отправить на стену" onclick="post_to_wall({{ record.id }})"><i class="icon-share"></i></button>
                {% endif %}
                  <br>
              {% endifequal %}
            </div>
          </div>
          <div class="clearfix"></div>
          {% if list_id == 2 and not anothers_account %}
            {% if reviews|get:record.id %}
              {% for review in reviews|get:record.id %}
                <table class="table">
                  <tr>
                    <td>
                        <a href="/people/{{ review.username }}/watched"><img src="{{ review.avatar }}" alt="{{ review.full_name }}" title="{{ review.full_name }}"></a>
                    </td>
                    <td>
                      {% if review.rating %}<strong>Оценка:</strong> <div class="rating" data-rating="{{ review.rating }}"></div><br>{% endif %}
                      {% if review.comment %}<strong>Комментарий:</strong> {{ review.comment }}{% endif %}
                    </td>
                  </tr>
                </table>
              {% endfor %}
            {% endif %}
          {% endif %}
          <div class="buttons">
          {% if not anothers_account %}
            {% ifequal list_id 2 %}
              <button type="button" title="Добавить в список &quot;Просмотрено&quot;" class="btn" onclick="add_to_list({{ record.movie_id }}, 1, {{ record.id }})"><i class="icon-eye-open"></i></button>
            {% endifequal %}
          {% else %}
                <button type="button" title="Добавить в список &quot;Просмотрено&quot;" class="btn" onclick="add_to_list({{ record.movie_id }}, 1, {{ record.id }})"><i class="icon-eye-open"></i></button>
                <button type="button" title="Добавить в список &quot;К просмотру&quot;" class="btn" onclick="add_to_list({{ record.movie_id }}, 2, {{ record.id }})"><i class="icon-eye-close"></i></button>
          {% endif %}
          </div>
        </div>
    {% endfor %}

  {% if records.has_other_pages %}
    {% bootstrap_paginate records range=10 show_prev_next="true" show_first_last="true" alignment="left" %}
  {% endif %}
  {% else %}
    <p>Список пуст.</p>
  {% endif %}
</div>

{% endblock %}