{% extends "base.html" %}

{% block header_extra %}
<script>
  var urlSearchMovie = '{% url 'movies.views.ajax_search_movie' %}';
  var urlAddToListFromDb = '{% url 'movies.views.ajax_add_to_list_from_db' %}';
</script>
<script src="/static/js/search.js"></script>
{% endblock %}

{% block content %}
<div ng-controller="MoviesSearchController">
    <div class="search_panel">
      <form id="search" ng-submit="submit()">
        <div class="input-append">
          <input class="span2" id="query" name="query" type="text" autofocus ng-model="query">
          <button class="btn" type="submit">Найти</button>
          <div class="btn-group">
            <button id="search_type_button" class="btn dropdown-toggle" data-toggle="dropdown">[[ searchType ]] <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="changeSearchType(1);">Фильм</a></li>
              <li><a href="#" ng-click="changeSearchType(2);">Актёр</a></li>
              <li><a href="#" ng-click="changeSearchType(3);">Режиссёр</a></li>
            </ul>
          </div>
        </div>
        <label class="checkbox">
          <input type="checkbox" id="popular_only" checked> отображать только популярные<br>
        </label>
        <label class="checkbox">
          <input type="checkbox" id="sort_by_date"> сортировка по дате
        </label>
      </form>
    </div>
    <div id="results" class="results" dynamic="searchResults"></div>
</div>
{% endblock %}