{% extends "base.html" %}
{% block content %}

<script src="/static/bower/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/static/bower/jquery-validation/src/localization/messages_ru.js"></script>

<script>
  var url_ajax_search_movie = '{% url 'movies.views.ajax_search_movie' %}';
  var url_ajax_add_to_list_from_db = '{% url 'movies.views.ajax_add_to_list_from_db' %}';
</script>
<script src="/static/js/search.js"></script>
<div class="search_panel">
  <form id="search">
    <div class="input-append">
      <input class="span2" id="query" name="query" type="text">
      <button class="btn" type="submit">Найти</button>
      <div class="btn-group">
        <button id="search_type_button" class="btn dropdown-toggle" data-toggle="dropdown">Фильм <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" onclick="change_search_type(1);">Фильм</a></li>
          <li><a href="#" onclick="change_search_type(2);">Актёр</a></li>
          <li><a href="#" onclick="change_search_type(3);">Режиссёр</a></li>
        </ul>
      </div>
    </div>
    <label class="checkbox">
      <input type="checkbox" id="popular_only" checked> отображать только популярные<br>
    </label>
    <label class="checkbox">
      <input type="checkbox" id="sort_by_date"> сортировка по дате
    </label>
  </form>
  <div id="error"></div>
</div>
<div id="results" class="results"></div>

{% endblock %}