#login-form {
    margin-top: 20px;
}

#content {
    margin: 0 20px;
}

.movie {
    width: 600px;
    padding-top: 20px;
    clear: both;
}

.movie .poster {
    float: left;
    margin-right: 10px;
}

.movie .review {
    padding-top: 10px;
}

.full {
    clear: both;
}

.title h4 {
    display: inline;
}

.rating {
    display: inline;
}

#query {
    width: 250px;
}

.search_panel {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}

label.error {
    color: #b94a48;
}

#loading {
    margin: 20px 20px 0 0;
}

.buttons {
    margin-top: 10px;
}