#login-form {
    margin-top: 20px;
}

#content {
    margin: 0 20px;
}

.movie {
    width: 770px;
    padding-top: 20px;
    clear: both;
    border-bottom: 1px solid lightgrey;
    min-height: 145px;
}

.poster {
    float: left;
    margin-right: 10px;
}

.review {
    padding-top: 10px;
}

.full {
    clear: both;
}

.title {
    color: inherit;
    display: inline;
    /* copied mostly from bootstrap h4 */
    font-size: 17.5px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    text-rendering: optimizelegibility;
}

.rating {
    display: inline;
}

#query {
    width: 250px;
}

.search_panel {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}

label.error {
    color: #b94a48;
}

#loading {
    margin: 20px 20px 0 0;
}

.buttons {
    margin: 10px 0;
}

#movie-count {
    font-size: 25px;
    float: right;
    text-align: right;
    line-height: 27px;
    color: #707070;
}

#movie-count img {
    margin-top: 10px;
}

.vk {
    overflow-y: scroll;
    height: 800px;
}

.person {
    margin-bottom: 10px;
}

.feed {
    width: 745px !important;
}

.small-poster {
    width: 60px;
}

.avatar {
    border-radius: 15px;
}

.avatar-small {
    border-radius: 10px;
}

.avatar-smallest {
    border-radius: 5px;
}
