{% extends 'base.html' %}
{% load avatar %}

{% block content %}
  <legend>{{ feed_name }}</legend>
  <br>
  <table id="feed" class="table col-md-11 col-lg-10 col-xl-8 table-responsive">
    <tbody>
      {% for action_record in action_records %}
        <tr class="feed-record">
          <td class="test-feed-user">
            <a href="{% url 'list' action_record.user.username 'watched' %}">{% avatar action_record.user %}</a>
          </td>
          <td class="d-none d-sm-table-cell">
            {{ action_record.date }}
          </td>
          <td>
            <v-lazy-image
              class="poster"
              srcset="{{ action_record.movie.poster_small }} 1x, {{ action_record.movie.poster_normal }} 2x"
              src="{{ action_record.movie.poster_normal }}"
              title="{{ action_record.movie.title_original }}"
              alt="{{ action_record.movie }}"
            />
          </td>
          <td class="d-none d-sm-table-cell test-feed-movie">
            <span title="{{ action_record.movie.title_original }}">{{ action_record.movie }}</span>
          </td>
          <td>
            {{ action_record.action }}
          </td>
          <td class="feed-action-data">
            {% if action_record.list %}
              {{ action_record.list }}
            {% endif %}
            {% if action_record.rating %}
              <star-rating
                :star-size=20
                :show-rating=false
                :clearable=true
                :read-only=true
                :rating={{ action_record.rating }}
                v-model:rating="element.rating"
              >
              </star-rating>
            {% endif %}
            {% if action_record.comment %}
              {{ action_record.comment }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
  <script src="{% static 'js/emptyApp.js' %}"></script>
{% endblock %}
