{% extends 'base.html' %}
{% load avatar %}

{% block content %}
  <legend>{{ feed_name }}</legend>
  <br>
  <table id="feed" class="table col-md-11 col-lg-10 col-xl-8 table-responsive">
    <tbody>
    {% for action in actions %}
      <tr class="feed-record">
        <td class="test-feed-user">
          <a href="{% url 'list' action.user.username 'watched' %}">{% avatar action.user %}</a>
        </td>
        <td class="d-none d-sm-table-cell">
          {{ action.date }}
        </td>
        <td>
          <img src="{{ action.movie_poster }}" data-rjs="{{ action.movie_poster_2x }}" alt="{{ action.movie }}"
               title="{{ action.movie }}" class="small-poster">
        </td>
        <td class="d-none d-sm-table-cell test-feed-movie">
          {{ action.movie }}
        </td>
        <td>
          {{ action.action.action }}
        </td>
        <td class="feed-action-data">
          {% if action.list %} {{ action.list }} {% endif %}
          {% if action.rating %}
            <div class="rating" data-rating="{{ action.rating }}"></div>
          {% endif %}
          {% if action.comment %} {{ action.comment }} {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
  <script src="{% static 'js/feed.js' %}"></script>
{% endblock %}
