{% extends 'base.html' %}
{% load bootstrap_pagination avatar movie_count %}

{% block content %}
  {% for user in users %}
    <div class="person">
      <a href="{% url 'list' user.username 'watched' %}">{% avatar user %}</a>
      <a href="{% url 'list' user.username 'watched' %}" class="people-user">{{ user }}</a>
      {% movie_count user %}
    </div>
  {% endfor %}

  {% if users.has_other_pages %}
    {% bootstrap_paginate users range=5 show_prev_next='true' show_first_last='true' alignment='left' %}
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/emptyApp.js' %}"></script>
{% endblock %}
