{% load menu %}{% generate_menu %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Movies</a>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav">
      {% for item in menus.main %}
      <li class="{% if item.selected %} active{% endif %}{% if item.children %} dropdown{% endif %}" id="top-menu-{{ item.slug }}">
        {% if item.children %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for child in item.children %}<li{% if child.selected %} class="active"{% endif %}><a href="{{ child.url }}">{{ child.title }}</a></li>{% endfor %}
          </ul>
        {% else %}
          <a href="{{ item.url }}">{% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><div id="loading" us-spinner="{radius:6, width:3, length: 5, lines: 12}"></div>
      <div id="loading2"></div>
    </li>
    {% if user.is_vk_user %}
      <li class="vk-app" style="display: none;"><a id="invite" href="javascript:void(0)" onclick="VK.callMethod('showInviteBox')"><i class="fa fa-envelope-o"></i></a></li>
    {% endif %}
    <li><a href="/preferences/"><i class="fa fa-cog"></i></a></li>
    {% if not user.is_vk_user %}
      <li><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
    {% endif %}
  </ul>
</div><!-- /.navbar-collapse -->

</div><!-- /.container-fluid -->
</nav>
