{% comment %} {% load avatar get %}

{% if reviews|get:record.id %}
  {% for review in reviews|get:record.id %}
    <div class="recommendation-review">
      <table>
        <tr>
          <td><a href="{% url 'list' review.user.username 'watched' %}">{% avatar review.user %}</a></td>
          <td>
            {% if review.rating %}
              <div class="rating" data-rating="{{ review.rating }}"></div>
            {% endif %}
          </td>
          <td>
            {% if review.comment %}{{ review.comment }}{% endif %}
          </td>
        </tr>
      </table>
    </div>
  {% endfor %}
{% endif %} {% endcomment %}
