name: DB Backup
on:
  schedule:
    - cron: "0 0 * * *"  # Every Day at Midnight
jobs:
  db_backup:
    name: DB Backup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install MySQL client
        run: sudo apt install mysql-client

      - name: Backup DB
        run: |
          NOW=$(date +"%d-%m-%Y")
          mysqldump -u root -h mysql.desecho.org movies -p$DB_PASSWORD | gzip -9 > movies-$NOW.sql.gz
        env:
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

      - name: Install s3cmd
        run: |
          pip install s3cmd==2.1.0
          cp .github/workflows/.s3cfg ~/.s3cfg
          sed "s/\[access_key\]/${{ secrets.SPACES_ACCESS_KEY }}/g" ~/.s3cfg -i
          SPACES_SECRET_KEY=$(echo ${{ secrets.SPACES_SECRET_KEY }} | sed 's;/;\\/;g')
          sed "s/\[secret_key\]/$SPACES_SECRET_KEY/g" ~/.s3cfg -i

      - name: Upload backup
        run: |
          NOW=$(date +"%d-%m-%Y")
          s3cmd put movies-$NOW.sql.gz s3://scrap-db-backups/movies/ --acl-private --no-mime-magic --guess-mime-type
